<div class="col-lg-4 col-md-4 col-sm-6 floatLeft padding-left-5 padding-right-5">
  <div class="example-ripple-container" matRipple  [matRippleColor]="'#8bb1ef'" [matRippleRadius]="'20'">
    <div class="card card-stats"  style="background-color: white">
      <div class="card-header card-header-info card-header-icon" id="sessionHeader">
        <div class="card-icon">
          <!--<i class="material-icons">store</i>-->
          <img src="./assets/images/doctor-inactive.png" width="50px" height="50px" *ngIf="(sessionsList.status != 'ACTIVE') && ((gVariable.authentication?.roles && (gVariable.authentication.roles[0].roleId == staticConfig.userTypes.CENTER_ADMIN.id)) || (!gVariable.authentication.authorized && (centerObject.centerId > 0))) ">
          <img src="./assets/images/doctor-active.png" width="50px" height="50px" *ngIf="sessionsList.status == 'ACTIVE' && ((gVariable.authentication?.roles && (gVariable.authentication.roles[0].roleId == staticConfig.userTypes.CENTER_ADMIN.id)) || (!gVariable.authentication.authorized && (centerObject.centerId > 0))) ">

          <img src="./assets/images/hospital-icon-red.png" width="50px" height="50px" *ngIf="(sessionsList.status != 'ACTIVE') && ((!gVariable.authentication?.authorized && (doctorObject.doctorId > 0)) || (gVariable.authentication?.roles && (gVariable.authentication.roles[0].roleId == staticConfig.userTypes.DOCTOR.id))) ">
          <img src="./assets/images/hospital-icon-green.png" width="50px" height="50px" *ngIf="sessionsList.status == 'ACTIVE' && ((!gVariable.authentication?.authorized && (doctorObject.doctorId > 0)) || (gVariable.authentication?.roles && (gVariable.authentication.roles[0].roleId == staticConfig.userTypes.DOCTOR.id))) ">

        </div>
        <div class="card-category" id="sessionCategory">

          <h6 class="media-heading popupText" *ngIf="(!gVariable.authentication?.authorized && (doctorObject.doctorId > 0)) ||(gVariable.authentication?.roles && (gVariable.authentication.roles[0].roleId == staticConfig.userTypes.DOCTOR.id)) && sessionsList.center" (click)="onClickViewCenter(sessionsList)">{{ sessionsList.center?.centerName }}</h6>
          <h6 class="media-heading popupText" *ngIf="(!gVariable.authentication?.authorized && (centerObject.centerId > 0)) || (gVariable.authentication?.roles && (gVariable.authentication.roles[0].roleId == staticConfig.userTypes.CENTER_ADMIN.id))" (click)="onClickViewDoctor(sessionsList)">Dr. {{ sessionsList.doctor?.user?.firstName + ' ' + sessionsList.doctor?.user?.lastName }}</h6>
        </div>
        <h3 class="card-title" id="sessionCurrentNumbr" *ngIf="(!gVariable.authentication?.authorized && sessionsList.showNo) || (gVariable.authentication?.authorized)"><span >Current Number : <b> {{ sessionsList.currentPatient }}</b></span><br></h3>
      </div>
      <div class="card-footer" id="sessionFooter">
        <div class="stats col-md-12">
          <div class="col-md-12 no-padding-left  no-padding-right">
            <div class="row no-padding-left  no-padding-right">
              <table class="table-no-border" width="100%" border="0px" >
                <tbody>
                <tr>
                  <td style="width: 40%;"><p><b><i class="material-icons">date_range</i>  </b>{{ sessionsList.appointmentDate }}</p></td>
                  <td style="width: 10%">  </td>
                  <td style="width: 50%;"> <p> <b><i class="material-icons">schedule</i>  </b> {{ sessionsList.startTime }}  -  {{ sessionsList.endTime }}</p></td>
                </tr>
                </tbody>
              </table>
              <div class="clearfix"></div>
            </div>

            <div class="row">
              <table class="table-no-border" width="100%" border="0px" >
                <tbody>
                <tr *ngIf="sessionsList.showNo">
                  <td style="width: 40%;"><p><b>Next Number - </b>{{ ((sessionsList.nextNumber < 0)) ? '0' : (sessionsList.noOfPatient > sessionsList.noOfReservedPatient)? sessionsList.nextNumber : 'Full' }}</p></td>
                  <td style="width: 10%">  </td>
                  <td style="width: 50%;"> <p *ngIf="gVariable.authentication?.authorized"><b>Reserved Number - </b>{{ (sessionsList.noOfReservedPatient > 0) ? sessionsList.noOfReservedPatient : 0 }}/{{ sessionsList.noOfPatient }}</p></td>
                </tr>
                <tr *ngIf="!(gVariable.authentication?.authorized && sessionsList.showNo)">
                  <td style="width: 40%; color: transparent"><p><b>pseudo text </b></p></td>
                  <td style="width: 10%">  </td>
                  <td style="width: 50%; color: transparent"><p><b>pseudo text </b></p></td>
                </tr>
                </tbody>
              </table>
              <div class="clearfix"></div>
            </div>

            <div class="row  no-padding-left  no-padding-right">
              <div class=" col-md-10 col-md-offset-2  no-padding-left  no-padding-right">
                <button role="button" class="btn btn-sm btn-primary pull-left"
                        [disabled]="sessionEnded"
                        (click)="onClickBook(sessionsList)"
                        *ngIf="(!gVariable.authentication?.authorized && (sessionsList.webStatus != 'DISABLE') && (sessionsList.status == 'ACTIVE') && (sessionsList.noOfPatient > sessionsList.noOfReservedPatient))
                        || (gVariable.authentication?.authorized && (sessionsList.status == 'ACTIVE') && (sessionsList.noOfPatient > 0) && (sessionsList.noOfPatient > sessionsList.noOfReservedPatient)
                        && (authSev.checkEntitlementAvailability([
                        staticConfig.entitlementsList.createAppoinment_doctor.id,
                        staticConfig.entitlementsList.createAppointment_CenterAdmin.id])))">Book Now</button>

                <button role="button" class="btn btn-sm btn-success pull-right" (click)="onClickViewSession(sessionsList)" *ngIf="gVariable.authentication?.authorized
                && (authSev.checkEntitlementAvailability([
                staticConfig.entitlementsList.viewSession_doctor.id,
                staticConfig.entitlementsList.editSession_doctor.id,
                staticConfig.entitlementsList.viewSession_CenterAdmin.id,
                staticConfig.entitlementsList.editSession_CenterAdmin.id,
                staticConfig.entitlementsList.viewAppoinment_doctor.id,
                staticConfig.entitlementsList.editAppoinment_doctor.id,
                staticConfig.entitlementsList.viewAppointment_CenterAdmin.id,
                staticConfig.entitlementsList.updateAppointment_CenterAdmin.id]))">More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
