<div style="" class="main-content no-padding-top">
  <div class="container-fluid">
    <div class="row center-align">
      <div class="card outer-body" style="">
        <div class="card-content inner-body">
          <div style="margin-right: 50%" class="loader-wrapper" id="loader-1">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
