<nav class="navbar navbar-expand-lg navbar-transparent fixed-top" id="navBarDiv">
    <!--<nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100">-->
    <div class="container-fluid" id="navBarContainerFluid">
        <div class="navbar-wrapper" style="">
            <!--<a class="navbar-brand" href="#">{{getTitle()}}</a>-->
            <!--<a class="navbar-brand" [routerLink]="['']"><img src="assets/images/logo.JPEG" width="100px" height="30px"/></a>-->
            <div id="navBarImageDiv">
                <a class="navbar-brand " [routerLink]="['']"><img src="./assets/images/logo.jpeg" id="navBarImage"/></a>
            </div>
        </div>

        <button mat-raised-button class="navbar-toggler" id="toggleButton" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end"  id="navigation">

            <!--<form class="navbar-form">-->
                <!--<div class="input-group no-border">-->
                    <!--<input type="text" value="" class="form-control" placeholder="Search...">-->
                    <!--<button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">-->
                        <!--<i class="material-icons">search</i>-->
                        <!--<div class="ripple-container"></div>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</form>-->
            <ul class="navbar-nav" id="navbar-nav">
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#pablo">-->
                        <!--<i class="material-icons">dashboard</i>-->
                        <!--<p>-->
                            <!--<span class="d-lg-none d-md-block">Stats</span>-->
                        <!--</p>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="nav-item dropdown">-->
                    <!--<a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                        <!--<i class="material-icons">notifications</i>-->
                        <!--<span class="notification">5</span>-->
                        <!--<p>-->
                            <!--<span class="d-lg-none d-md-block">Some Actions</span>-->
                        <!--</p>-->
                    <!--</a>-->
                    <!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">-->
                        <!--<a class="dropdown-item" href="#">Mike John responded to your email</a>-->
                        <!--<a class="dropdown-item" href="#">You have 5 new tasks</a>-->
                        <!--<a class="dropdown-item" href="#">You're now friend with Andrew</a>-->
                        <!--<a class="dropdown-item" href="#">Another Notification</a>-->
                        <!--<a class="dropdown-item" href="#">Another One</a>-->
                    <!--</div>-->
                <!--</li>-->
                <li class="nav-item" *ngIf="gVariable.authentication.authorized">
                    <a class="nav-link loginBtn" [routerLink]="['', 'my-dashboard']">
                        <i class="material-icons">person</i>
                        <p>
                            <span class="d-lg-none d-md-block">Account</span>
                        </p>
                    </a>
                </li>

                <li class="nav-item" *ngIf="!gVariable.authentication.authorized">
                    <a class="nav-link loginBtn" [routerLink]="['', 'login']">
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--

<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button mat-raised-button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">dashboard</i>
                        <p class="hidden-lg hidden-md">Dashboard</p>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">notifications</i>
                        <span class="notification">5</span>
                        <p class="hidden-lg hidden-md">Notifications</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Mike John responded to your email</a></li>
                        <li><a href="#">You have 5 new tasks</a></li>
                        <li><a href="#">You're now friend with Andrew</a></li>
                        <li><a href="#">Another Notification</a></li>
                        <li><a href="#">Another One</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                       <i class="material-icons">person</i>
                       <p class="hidden-lg hidden-md">Profile</p>
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group form-black is-empty">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="material-input"></span>
                </div>
                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i><div class="ripple-container"></div>
                </button>
            </form>
        </div>
    </div>
</nav> -->
