<div style="" class="main-content no-padding-top">
  <div class="container-fluid">
    <div class="row center-align">
      <div class="card outer-body" style="">
        <div class="card-content inner-body">
          <h3 class="">MOBITEL - ADD TO BILL</h3>
          <h4 class="">Payment Summary</h4>
          <p class="">Please review the following details for this transaction</p>

          <table style="margin-bottom: 30px" class= "table table-striped table-active">
            <thead>
            <tr>
              <th scope="col">Description</th>
              <th scope="col">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Payment for eChannellingPLC</td>
              <td> {{appointmentCharges[0].amount + ' LKR'}}</td>
            </tr>
            <tr>
              <td>TOTAL</td>
              <td> {{totalCharge + ' LKR'}}</td>
            </tr>
            </tbody>
          </table>

          <form #mobileNumberForm="ngForm" id="mobileNumberForm" name="mobileNumberForm" *ngIf="!creditCheckSuccess" (ngSubmit)="mobileNumberForm.valid && onSubmitMobileNumberForm()" novalidate>
            <mat-form-field>
              <label>
                <input matInput type="text" pattern="[0][0-9]{9}" [(ngModel)]="mobileNo" #mobileNumber="ngModel" id="mobileNumber" required [class.is-invalid]="mobileNumber.invalid && mobileNumber.touched" name="mobileNumber" placeholder="Mobile Number" />
              </label>
            </mat-form-field>
            <div *ngIf="mobileNumber.invalid && mobileNumber.touched">
              <small class="text-danger" *ngIf="mobileNumber.errors.required">Mobile number is required</small>
              <small class="text-danger" *ngIf="mobileNumber.errors.pattern">Mobile number must be valid and consist of 10 digits</small>
            </div>

            <div class="col text-center mt-3">
              <button [disabled]="mobileNumber.errors" type="submit" class="btn btn-primary">SEND PIN</button>
            </div>
          </form>


          <div id="pinNoForm" *ngIf="creditCheckSuccess"  class="row">
            <div class="input-field col">
              <form #pinNumberForm="ngForm" id="pinNumberForm" name="pinNumberForm" (ngSubmit)="pinNumberForm.valid && onSubmitPinNumberForm()" novalidate>
                <mat-form-field>
                    <label>
                      <input matInput type="number" [(ngModel)]="pinNo" #pinNumber="ngModel" id="pinNumber" required [class.is-invalid]="pinNumber.invalid && pinNumber.touched" name="pinNumber" placeholder="PIN Number" />
                    </label>
                </mat-form-field>
                <div *ngIf="pinNumber.invalid && pinNumber.touched">
                  <small class="text-danger" *ngIf="pinNumber.errors.required">PIN number is required</small>
                  <small class="text-danger" *ngIf="pinNumber.errors.pattern">PIN number must be valid and consist of 8 digits</small>
                </div>

                <div class="col text-center mt-3">
                  <button [disabled]="pinNumber.errors" type="submit" class="btn btn-primary">ADD TO BILL</button>
                </div>
              </form>
            </div>
          </div>
          <p *ngIf="newPin" class="mx-4">Didn't receive the pin number? <button class="btn btn-primary btn-sm" (click)="onSubmitMobileNumberForm()" style="cursor: hand;">Send again</button></p>
          <p *ngIf="newPin" id="timer" class="mx-4">{{pinTimerText}}</p>
          <mat-progress-bar *ngIf="requestPending" mode="indeterminate"></mat-progress-bar>
        </div>
        <div id="error-message" class="red-text text-darken-3 hide" > </div>
      </div>
    </div>
  </div>

</div>

