<!--<div class="col-md-12" *ngIf="(!gVariable.authentication.authorized) || (!gVariable.authentication?.roles) || (gVariable.authentication.roles[0].roleId == staticConfig.userTypes.PATIENT.id)" >-->
    <!--<app-gmap mapRadiusOnChange="mapRadiusOnChange"></app-gmap>-->
<!--</div>-->

<!--<div *ngIf="gVariable.authentication?.roles && (gVariable.authentication.roles[0].roleId != staticConfig.userTypes.PATIENT.id)">-->
    <!--<app-session-list [isParent] = "'yes'"></app-session-list>-->
<!--</div>-->


<div class="main-content no-padding-left no-padding-right no-margin-right no-margin-left" style="padding: 0px;height: 100%;margin-top: 0px;" *ngIf="(!gVariable.authentication.authorized) || (!gVariable.authentication?.roles) || (gVariable.authentication.roles[0].roleId == staticConfig.userTypes.PATIENT.id)">
    <div class="container-fluid no-padding-left no-padding-right no-margin-right no-margin-left" style="height: 100%;">
        <app-gmap mapRadiusOnChange="mapRadiusOnChange"></app-gmap>
    </div>
</div>


<div class="main-content no-padding-left no-padding-right no-margin-right no-margin-left" style="padding: 0px;height: 100%;margin-top: 0px;" *ngIf="gVariable.authentication?.roles && (gVariable.authentication.roles[0].roleId != staticConfig.userTypes.PATIENT.id)">
    <div class="container-fluid no-padding-left no-padding-right no-margin-right no-margin-left" style="height: 100%;">
        <app-session-list [isParent] = "'yes'"></app-session-list>
    </div>
</div>
