.orderTotalHeading{
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    font-size: 18px;

}

.cartTotalsWrapper{
    padding: 15px;
    background-color: #efefef;
    -webkit-box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.33);
    -moz-box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.33);
    box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.33);
}

table tr td {
    text-align: left;
}

tr , table, td{
    border: none !important;
}


.headingText{
    text-align: left !important;
    font-weight: normal;
    color: #828282 !important;
}

.valueText{
    text-align: left !important;
    font-weight: normal;
    color: #828282 !important;
}

.appointmentData{

}

.opening-hours {
    border-color: #18a3eb !important;
}

.opening-hours, .emergency-box, .appointment-box, .contact-info {
    position: relative;
    padding: 32px;
    border-radius: 20px;
    border: 2px solid #dde4ea;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.opening-hours h2, .emergency-box h2, .appointment-box h2, .contact-info h2 {
    position: absolute;
    top: -24px;
    left: -2px;
    height: 48px;
    padding-right: 16px;
    background: #fff;
    font-size: 20px;
    font-weight: 600;
    color: #404040 !important;
}

.opening-hours ul {
    list-style: none;
}

.p-0 {
    padding: 0!important;
}

.m-0 {
    margin: 0!important;
}

.opening-hours ul li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #828282 !important;
    text-align:  left !important;
}

.opening-hours ul li span {
    display: inline-block;
    margin-left: 5px;
    text-align:  left !important;
}

.btnContinueWithoutPayment{
    margin-top: 20px;
    cursor: pointer;
}