<div class="col-md-8 floatLeft no-padding-left no-padding-right marginTop50">
  <div class="col-md-12 no-padding-left no-padding-right" style="margin-bottom: 50px;">
    <div class="opening-hours" *ngIf="appointmentDetailsPayment?.session">
      <h2 class="d-flex align-items-center">Appointment Details</h2>
      <div class="row" *ngIf="(!gVariable.authentication?.authorized && appointmentDetailsPayment?.session?.showNo) || (gVariable.authentication?.authorized)">
        <table class="table-no-border" width="100%" border="0px" >
          <tbody>
          <tr>
            <td style="width: 30%;">Appointment No</td>
            <td>:</td>
            <td style="width: 74%;">{{ appointmentDetailsPayment?.appointmentNo }}</td>
          </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>

      <div class="row">
        <table class="table-no-border" width="100%" border="0px" >
          <tbody>
          <tr>
            <td style="width: 30%;">Session Date</td>
            <td>:</td>
            <td style="width: 69%;">{{ appointmentDetailsPayment?.session?.appointmentDate }}</td>
          </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>

      <div class="row">
        <table class="table-no-border" width="100%" border="0px" >
          <tbody>
          <tr>
            <td style="width: 30%;">Appointment Time</td>
            <td>:</td>
            <td style="width: 69%;">{{ appointmentDetailsPayment?.appointmentTime }}</td>
          </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>

      <div class="row">
        <table class="table-no-border" width="100%" border="0px" >
          <tbody>
          <tr>
            <td style="width: 30%;">Patient Name</td>
            <td>:</td>
            <td style="width: 69%;">{{ appointmentDetailsPayment?.patient?.name }}</td>
          </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>

      <div class="row">
        <table class="table-no-border" width="100%" border="0px" >
          <tbody>
          <tr>
            <td style="width: 30%;">Patient Tel</td>
            <td>:</td>
            <td style="width: 69%;">{{ appointmentDetailsPayment?.patient?.mobileNo }}</td>
          </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>

    </div>
  </div>

  <div class="col-md-12 no-padding-left no-padding-right" style="margin-bottom: 50px;">
    <div class="opening-hours" *ngIf="appointmentDetailsPayment?.center">
      <h2 class="d-flex align-items-center">Center Details</h2>
      <div class="row">
        <table class="table-no-border" width="100%" border="0px" >
          <tbody>
          <tr>
            <td style="width: 30%;">Center</td>
            <td>:</td>
            <td style="width: 69%;">{{appointmentDetailsPayment ?.center ?.centerName }}</td>
          </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>

      <div class="row">
        <table class="table-no-border" width="100%" border="0px" >
          <tbody>
          <tr>
            <td style="width: 30%;">Doctor</td>
            <td>:</td>
            <td style="width: 69%;">{{ (appointmentDetailsPayment?.session?.doctor?.user) ? 'Dr. ' + appointmentDetailsPayment.session?.doctor?.user?.firstName.toUpperCase() + ' ' + appointmentDetailsPayment?.session?.doctor?.user?.lastName.toUpperCase()  : '' }}</td>
          </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>

      <div class="row">
        <table class="table-no-border" width="100%" border="0px" >
          <tbody>
          <tr>
            <td style="width: 30%;">Location</td>
            <td>:</td>
            <td style="width: 69%;">{{ appointmentDetailsPayment?.center?.address?.address + ' ' + appointmentDetailsPayment?.center?.address?.city }}</td>
          </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>

      <div class="row">
        <table class="table-no-border" width="100%" border="0px" >
          <tbody>
          <tr>
            <td style="width: 30%;">Center Tel</td>
            <td>:</td>
            <td style="width: 69%;">{{ appointmentDetailsPayment?.center?.contactNo }}</td>
          </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>

    </div>
  </div>
</div>

<div class="col-md-4 floatLeft marginTop50">
  <form novalidate #paymentForm="ngForm" id="paymentForm" name="ngForm" (ngSubmit)="paymentForm.form.valid && onClickAddPayment();" novalidate >
    <div class="panel-body cartTotalsWrapper  no-padding-left no-padding-right">
      <div class="col-md-12" style="margin-bottom: 20px;">
            <span>
              <b class="orderTotalHeading"> Appointment Total </b>
            </span>
      </div>

      <div class="col-md-12">
        <table class="table-cartTotalsList" width="100%" style="margin-bottom: 20px; border: none !important;" *ngIf="appointmentDetailsPayment && appointmentDetailsPayment.appointmentCharges">
          <tbody>
          <tr *ngFor="let appointmentDetail of appointmentDetailsPayment.onlineApplicableAppointmentCharges">
            <td style="text-align: left; width: 50%;">{{ appointmentDetail.description | titlecase}}</td>
            <td style="text-align: right; width: 50%;">{{appointmentDetail.amount | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <!--<tr style="border: none">-->
          <!--<td style="text-align: left; width: 50%;"><b>Total</b></td>-->
          <!--<td style="text-align: right; width: 50%;"><b>{{totalCharge | number:'1.2-2'}}</b></td>-->
          <!--</tr>-->
          </tbody>
        </table>

        <table class="table-cartTotalsList" width="100%"  style="margin-bottom: 20px; border: none !important;">
          <tbody>
          <tr>
            <td style="text-align: left"><b>Total (Rs.)</b></td>
            <td style="text-align: right"><b>{{totalCharge | number:'1.2-2'}}</b></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-12" style="margin-bottom: 20px;">
        <img src="./assets/images/paymentMethods/VISA-MASTER.png" width="100%" class="paymentMethodImage">
        <img src="./assets/images/paymentMethods/SLT-MOBITEL.png" width="100%" class="paymentMethodImage mt-2">
      </div>

      <div class="col-md-12" *ngIf="totalCharge > 0">

        <section class="example-section">
          <mat-checkbox  class="example-margin" #terms="ngModel" [(ngModel)]="termsAndConditions"  name="terms" id="terms" required> I agree to the Terms and Conditions <i class="fa fa-question-circle" (mouseover)="onMouseOverTerms();"></i></mat-checkbox>
          <div class="formErrorMessage" *ngIf="paymentForm.submitted && terms.errors && terms.errors.required">You need to agree the terms and conditions to proceed.  </div>
          <div class="card" *ngIf=" getTermsAndCondition != '' ">
            <div class="card-body">
              <p style="text-align: right"><i class="fa fa-times" (click)="closeTerms()"></i> </p>
              <p>{{getTermsAndCondition}} </p>
            </div>
          </div>
        </section>
        <mat-form-field>
          <mat-select matNativeControl placeholder="Payment Type" #selectedPayment="ngModel" id="selectedPayment" name="selectedPayment" [(ngModel)]="selectedPaymentType" required>
            <mat-option *ngFor="let paymentType of paymentTypesList" [value]="paymentType.paymentMode"> {{ paymentType.description }} </mat-option>
          </mat-select>
          <!--<div class="formErrorMessage" *ngIf="paymentForm.submitted && selectedPayment.errors && selectedPayment.errors.required">This field is required.</div>-->
        </mat-form-field>
      </div>

      <div class="col-md-12 text-right">
        <button class="btn btn-primary btn-sm"  type="submit" [disabled]="(totalCharge < 1) || (submitPending == true)"><i class="fa fa-credit-card-alt"></i> Confirm Payment <i class="fa fa-spinner fa-spin" *ngIf="submitPending == true"></i> </button>
      </div>
    </div>
  </form>
</div>



