/*
!*Small devices (landscape phones, 576px and up)*!
@media (min-width: 576px) {
    .google-chart{
        width: 280px;
    }
}

!*Medium devices (tablets, 768px and up)*!
@media (min-width: 768px) {
    .google-chart{
        width: 520px;
    }
}

!*Large devices (desktops, 992px and up)*!
@media (min-width: 992px) {
    .google-chart{
        width: 800px;
    }
}

!*Extra large devices (large desktops, 1200px and up)*!
@media (min-width: 1200px) {
    .google-chart{
        width: 280px;
    }
}
*/
