<div class="main-content no-padding-left no-padding-right" id="mainContent-createShedule">
    <div class="container-fluid" style="height: 100%;">
        <div class="card">
            <div class="card-header card-header-info">
                Income Report
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Start Date</mat-label>
                            <input matInput [matDatepicker]="datePickerStartDate" [max]="rangeDates[1]" disabled  name="startDate" id="startDate" #startDate="ngModel" [(ngModel)]="rangeDates[0]" (dateChange)="onSelectDateRange();"/>
                            <mat-datepicker-toggle matSuffix [for]="datePickerStartDate"></mat-datepicker-toggle>
                            <mat-datepicker #datePickerStartDate disabled="false" color="info"></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>End Date</mat-label>
                            <input matInput [matDatepicker]="datePickerEndDate" [min]="rangeDates[0]" disabled  name="endDate" id="endDate" #endDate="ngModel" [(ngModel)]="rangeDates[1]" (dateChange)="onSelectDateRange();" />
                            <mat-datepicker-toggle matSuffix [for]="datePickerEndDate"></mat-datepicker-toggle>
                            <mat-datepicker #datePickerEndDate disabled="false" color="info"></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3" *ngIf="gVariable.authentication?.roles && (gVariable.authentication.roles[0].roleId == staticConfig.userTypes.DOCTOR.id) && (centersList && centersList.length > 0)">
                        <mat-form-field>
                            <mat-select matNativeControl [placeholder]="'Chart Type'" #centerList="ngModel" [(ngModel)]="searchObject.selectedCenter"  name="centerList" id="centerList" (selectionChange)="getIncomeReports()" >
                                <!--<ng-template>-->
                                <mat-option [value]="'viewAll'">Pie Chart</mat-option>
                                <mat-option [value]="'viewAll1'">Bar Chart</mat-option>
<!--
                                <mat-option *ngFor="let option of centersList" [value]="[option]"> {{option.centerName}} </mat-option>
-->
                                <!--</ng-template>-->
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3" *ngIf="(!gVariable.authentication) || (!gVariable.authentication?.roles) || (gVariable.authentication.roles[0].roleId != staticConfig.userTypes.DOCTOR.id)">
                        <mat-form-field>
                            <mat-select matNativeControl [placeholder]="'Chart Type'" #doctorList="ngModel" [(ngModel)]="searchObject.selectedDoctor" name="doctorList" id="doctorList" (selectionChange)="getIncomeReports()">
                                <!--<ng-template>-->
                                <mat-option [value]="'viewAll'">Pie Chart</mat-option>
                                <mat-option [value]="'viewAll1'">Bar Chart</mat-option>
<!--
                                <mat-option *ngFor="let option of doctorsList" [value]="[option]">Dr. {{option.user?.firstName}} {{option.user?.lastName}} </mat-option>
-->
                                <!--</ng-template>-->
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-icon card-header-success no-print">
                                <div class="card-icon">
                                    <mat-icon>attach_money</mat-icon>
                                </div>
                               <!-- <div class="card-title">
                                    <h4 *ngIf="chart.type == 'PieChart' && this.gVariable.authentication && this.gVariable.authentication.roles && (this.gVariable.authentication.roles[0].roleId == this.staticConfig.userTypes.DOCTOR.id)" >Center-wise Income </h4>
                                    <h4 *ngIf="chart.type == 'PieChart' && this.gVariable.authentication && this.gVariable.authentication.roles && (this.gVariable.authentication.roles[0].roleId == this.staticConfig.userTypes.CENTER_ADMIN.id)" >Doctor-wise Income </h4>
                                    <h4 *ngIf="chart.type == 'Bar' && this.gVariable.authentication && this.gVariable.authentication.roles && (this.gVariable.authentication.roles[0].roleId == this.staticConfig.userTypes.CENTER_ADMIN.id) && searchObject.selectedDoctor.user" >Session-wise Income - Dr. {{searchObject.selectedDoctor.user.firstName}}</h4>
                                    <h4 *ngIf="chart.type == 'Bar' && this.gVariable.authentication && this.gVariable.authentication.roles && (this.gVariable.authentication.roles[0].roleId == this.staticConfig.userTypes.DOCTOR.id)" >Session-wise Income - {{searchObject.selectedCenter.centerName}}</h4>
                                </div>-->
                            </div>

                            <div class="card-body" *ngIf="gVariable.platformBrowser">    <!--[width]="screenWidth" [height]="screenHeight"-->
                                <div style="margin-top: 30px;" class="text-center">
                                    <table *ngIf="BySession.length > 0" class="table table-sales table-striped">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Total Appointments</th>
                                            <th>Amount (LKR)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let session of BySession">
                                            <td>{{session[0].substr(0,10)}}</td>
                                            <td>{{session[0].substr(12,20)}}</td>
                                            <td>{{session[2]}}</td>
                                            <td>{{session[1]}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table *ngIf="Byclinic.length > 0" class="table table-sales table-striped">
                                        <thead>
                                        <tr>
                                            <th>Center</th>
                                            <th>Total Appointments</th>
                                            <th>Amount (LKR)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let clinic of Byclinic">
                                            <td>{{clinic[0]}}</td>
                                            <td>{{clinic[2]}}</td>
                                            <td>{{clinic[1]}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table *ngIf="ByDoctor.length > 0" class="table table-sales table-striped">
                                        <thead>
                                        <tr>
                                            <th>Doctor</th>
                                            <th>Total Appointments</th>
                                            <th>Amount (LKR)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let doctor of ByDoctor">
                                            <td>{{doctor[0]}}</td>
                                            <td>{{doctor[2]}}</td>
                                            <td>{{doctor[1]}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <google-chart *ngIf="BySession.length > 0" [title]="chart.title"
                                                  [type]="chart.type"
                                                  [data]="chart.data"
                                                  [columnNames]="chart.columnNames"
                                                  [options]="chart.options" (select)="onSelect($event)">
                                    </google-chart>
                                    <h5 *ngIf="BySession.length == 0">No data available for the selected time period.</h5>
                                    <div class="no-print"> <button [disabled]="BySession.length == 0" class="btn btn-primary" (click)="print()">Print</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="mainHeadingWrap">-->
  <!--<h1>Income Report</h1>-->
<!--</div>-->

<!--<div class="container-fluid">-->
  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
<!--<div class="no-print">-->
        <!--<form class="navbar-form">-->
            <!--<div class="row" >-->
                <!--&lt;!&ndash;<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 half-padding">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<input type="date"  class="form-control" placeholder="Date" id="selectedDate" name="selectedDate" #selectedDate="ngModel" [(ngModel)]="searchObject.selectedDate">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<p-calendar [touchUI]="true" [showButtonBar]="false" [(ngModel)]="rangeDates" name="dateRange" #dateRange="ngModel" selectionMode="range" [readonlyInput]="true" showButtonBar="true" (onSelect)="onSelectDateRange(rangeDates);" [dateFormat]="'dd/mm/yy'"></p-calendar>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 half-padding" *ngIf="gVariable.authentication?.roles && (gVariable.authentication.roles[0].roleId == staticConfig.userTypes.DOCTOR.id)" >&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                        <!--&lt;!&ndash;<select class="form-control" name="centerList" id="centerList" #centerList="ngModel" [(ngModel)]="searchObject.selectedCenter"&ndash;&gt;-->
                                <!--&lt;!&ndash;(change)="getIncomeReports()" *ngIf="centersList && centersList.length > 0">&ndash;&gt;-->
                            <!--&lt;!&ndash;<option [ngValue]="'viewAll'">All centers</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option *ngFor="let option of centersList" [ngValue]="option">{{ option.centerName }}</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;</select>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 half-padding" *ngIf="(!gVariable.authentication) || (!gVariable.authentication?.roles) || (gVariable.authentication.roles[0].roleId != staticConfig.userTypes.DOCTOR.id)">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                        <!--&lt;!&ndash;<select class="form-control" name="doctorList" id="doctorList" #doctorList="ngModel" [(ngModel)]="searchObject.selectedDoctor"&ndash;&gt;-->
                                <!--&lt;!&ndash;(change)="getIncomeReports()" *ngIf="doctorsList && doctorsList.length > 0">&ndash;&gt;-->
                            <!--&lt;!&ndash;<option [ngValue]="'viewAll'">All doctors</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option *ngFor="let option of doctorsList" [ngValue]="option">{{ option.user?.firstName }}</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;</select>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-xs-12 buttonFullXs buttonWrapper-right col-sm-4 col-md-6 col-lg-8 text-right half-padding" *ngIf="gVariable.authentication?.roles && ((gVariable.authentication.roles[0].roleId == staticConfig.userTypes.DOCTOR.id) || (gVariable.authentication.roles[0].roleId == staticConfig.userTypes.CENTER_ADMIN.id))">&ndash;&gt;-->
                    <!--&lt;!&ndash;<button class="btn btn-default" (click)="addNew()" *ngIf="(action == false) && (selectedDoctorId > 0) && (selectedCenterId >0)">New Session Schedule</button>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
        <!--&lt;!&ndash;<h3 *ngIf="chart.type == 'Bar'; else clinicWise" class="text-center">Session wise Income - {{searchObject.selectedCenter.centerName}}</h3>-->
        <!--<ng-template #clinicWise class="text-center"><h3 class="text-center">Clinic wise Income</h3></ng-template>&ndash;&gt;-->

        <!--&lt;!&ndash;<h3 *ngIf="chart.type == 'PieChart' && this.gVariable.authentication && this.gVariable.authentication.roles && (this.gVariable.authentication.roles[0].roleId == this.staticConfig.userTypes.DOCTOR.id)" class="text-center">Center wise Income </h3>&ndash;&gt;-->
        <!--&lt;!&ndash;<h3 *ngIf="chart.type == 'PieChart' && this.gVariable.authentication && this.gVariable.authentication.roles && (this.gVariable.authentication.roles[0].roleId == this.staticConfig.userTypes.CENTER_ADMIN.id)" class="text-center">Doctor wise Income </h3>&ndash;&gt;-->
        <!--&lt;!&ndash;<h3 *ngIf="chart.type == 'Bar' && this.gVariable.authentication && this.gVariable.authentication.roles && (this.gVariable.authentication.roles[0].roleId == this.staticConfig.userTypes.CENTER_ADMIN.id) && searchObject.selectedDoctor.user"  class="text-center">Session wise Income - Dr. {{searchObject.selectedDoctor.user.firstName}}</h3>&ndash;&gt;-->
        <!--&lt;!&ndash;<h3 *ngIf="chart.type == 'Bar' && this.gVariable.authentication && this.gVariable.authentication.roles && (this.gVariable.authentication.roles[0].roleId == this.staticConfig.userTypes.DOCTOR.id)"  class="text-center">Session wise Income - {{searchObject.selectedCenter.centerName}}</h3>&ndash;&gt;-->


        <!--&lt;!&ndash;<button class="btn btn-default" (click)="getIncomeReports()">Submit</button>&ndash;&gt;-->
      <!--<div style="margin-top: 30px;" class="text-center">-->
        <!--<google-chart width="600"-->
                      <!--[title]="chart.title"-->
                      <!--[type]="chart.type"-->
                      <!--[data]="chart.data"-->
                      <!--[columnNames]="chart.columnNames"-->
                      <!--[options]="chart.options" (select)="onSelect($event)">-->
        <!--</google-chart>-->

          <!--<div class="no-print"> <button class="btn btn-primary" (click)="print()">Print</button></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
