<div class="main-content" *ngIf="login">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="card card-profile" id="loginForm">
          <div class="card-avatar">
            <a>
              <img class="img" src="./assets/images/login.png" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray"></h6>
            <h4 class="card-title">Doctor/Center Login</h4>
            <p class="card-description" id="headerDescription">
              Please fill in your authentication information in the following fields
            </p>

            <form #loginForm="ngForm" name="loginForm" (ngSubmit)="loginForm.form.valid && onClickLoginForm(loginForm)" novalidate>
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email address" type="text" id="userName" name="userName" #userName="ngModel" [(ngModel)]="loginRequest.userName" required email pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" spellcheck="false"  />
                        <mat-error *ngIf="loginForm.submitted && userName.errors && userName.errors.required">This filed is required.</mat-error>
                        <mat-error *ngIf="loginForm.submitted && userName.errors && (userName.errors.email || userName.errors.pattern)">Enter a valid email address.</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput type="password" id="passWord" name="passWord" placeholder="Password" #passWord="ngModel" [(ngModel)]="loginRequest.passWord" required>
                        <mat-error class="formErrorMessage" *ngIf="loginForm.submitted && passWord.errors && passWord.errors.required">This field is required</mat-error>
                      </mat-form-field>
                    </div>

                  </div>
                  <!--<button mat-raised-button type="submit" class="btn btn-info btn-sm">Login</button>-->
                  <button type="submit" class="btn btn-info btn-sm pull-left" [disabled]="submitPending == true">Login <i class="fa fa-spinner fa-spin" *ngIf="submitPending == true"></i></button> <span class="pull-right"><a [routerLink]="['', 'forget-password']">Forgot Password</a></span>
                  <div class="clearfix"></div>
                  <div class="form-group">
                    <div class="form-group">
                      <!--<p class="help-block text-center">OR</p>-->
                    </div>
                    <!--<button type="button" class="btn btn-danger btn-sm btn-block btn-social"><i class="fa fa-google-plus" aria-hidden="true"></i> Login with Google</button>-->
                    <!--<button type="button" class="btn btn-primary btn-sm btn-block btn-social"><i class="fa fa-facebook" aria-hidden="true"></i> Login with facebook</button>-->
                  </div>
                </div>
                <div class="col-md-3">

                </div>

              </div>


              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="main-content" *ngIf="!login">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <app-change-password (closePasswordView)="onChangeSuccessPasswordChange($event)"></app-change-password>
      </div>
    </div>
  </div>
</div>
<!--<div *ngIf="!login">-->
  <!--<div class="mainHeadingWrap">-->
    <!--<h1>Change Password</h1>-->
  <!--</div>-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-5 col-md-push-3 col-md-offset-1 col-sm-8 col-sm-offset-2 separatorMargin">-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
