<div class="col-md-12 no-print" *ngIf="(authSev.checkEntitlementAvailability([
																staticConfig.entitlementsList.viewAppoinment_doctor.id,
                    											staticConfig.entitlementsList.editAppoinment_doctor.id,
                    											staticConfig.entitlementsList.viewAppointment_CenterAdmin.id,
                    											staticConfig.entitlementsList.updateAppointment_CenterAdmin.id]))">

    <form #patientDataForm="ngForm" id="patientDataForm" name="patientDataForm" (ngSubmit)="patientDataForm.form.valid && onClickSubmitPayment(booking)" novalidate class="marginTop50">
      <div class="col-md-12  no-padding-right no-padding-left">
        <!--<form #patientDataForm="ngForm" id="patientDataForm" name="patientDataForm" (ngSubmit)="patientDataForm.form.valid && onSubmitBookingForm(booking)" novalidate>-->
        <div class="col-md-12 floatLeft no-padding-right no-padding-left">
          <mat-form-field>
            <input matInput type="text" #patientName="ngModel" [(ngModel)]="booking.name" id="patientName" name="patientName" placeholder="Patient Name" readonly />
          </mat-form-field>
        </div>

        <div class="col-md-12 floatLeft no-padding-right no-padding-left">
          <mat-form-field>
            <input matInput type="text" pattern="[0-9 ]*" [(ngModel)]="booking.mobileNo" #mobileNumber="ngModel" id="mobileNumber" minlength="10" maxlength="10" name="mobileNumber" placeholder="Mobile Number" readonly />
          </mat-form-field>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-9 floatLeft no-padding-right no-padding-left">
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="booking.nic" #nic="ngModel" id="nic" name="nic" placeholder="NIC" minlength="9" maxlength="12" readonly />
          </mat-form-field>
        </div>

        <div class="col-md-3 floatLeft  no-padding-right no-padding-left">
          <mat-form-field>
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="datePickerDateOfBirth" [max]="dateOption.maxDate" disabled  name="rangeDates" id="rangeDates" #rangeDates="ngModel" [(ngModel)]="booking.dateOfBirth" readonly />
            <mat-datepicker-toggle matSuffix [for]="datePickerDateOfBirth" ></mat-datepicker-toggle>
            <mat-datepicker #datePickerDateOfBirth disabled="false" color="info" disabled></mat-datepicker>
          </mat-form-field>
        </div>
        <!--</form>-->
      </div>

      <div class="clearfix"></div>


      <div class="col-md-12 no-padding-right no-margin-right no-padding-left no-margin-left">
        <!--<div class="col-md-6 floatLeft no-padding-right no-padding-left no-margin-left no-margin-right">-->

          <!--&lt;!&ndash;<div class="card">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="card-body" *ngIf="feesList.length > 0">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="col-md-6 floatLeft">&ndash;&gt;-->
                <!--&lt;!&ndash;<mat-form-field>&ndash;&gt;-->
                  <!--&lt;!&ndash;<mat-select matNativeControl placeholder="Charge type" #chargeType="ngModel" id="chargeType" name="chargeType" [(ngModel)]="selectedCharge.chargeType">&ndash;&gt;-->
                    <!--&lt;!&ndash;<mat-option *ngFor="let fee of feesList" [value]="fee.chargeCode"> {{ fee.description }} </mat-option>&ndash;&gt;-->
                  <!--&lt;!&ndash;</mat-select>&ndash;&gt;-->
                <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="col-md-6 floatLeft">&ndash;&gt;-->
                <!--&lt;!&ndash;<mat-form-field>&ndash;&gt;-->
                  <!--&lt;!&ndash;<input matInput placeholder="Amount" [min]="0" #chargeAmount="ngModel" id="chargeAmount" name="chargeAmount" [(ngModel)]="selectedCharge.chargeAmount"/>&ndash;&gt;-->
                <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="clearfix"></div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="col-md-12 floatLeft">&ndash;&gt;-->
                <!--&lt;!&ndash;<button class="btn btn-default" type="button" (click)="onClickAddAmount(selectedCharge)"><i class="fa fa-plus"></i> Add</button>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <div class="col-md-12 floatLeft no-padding-right no-margin-right no-padding-left no-margin-left">
          <div class="card card-plain">
            <div class="card-body">
              <table class="table-no-border" width="100%" border="0px" >
                <thead class="card-header card-header-info">
                <tr style="border-bottom: 1px solid black;">
                  <td style="padding-left: 5px;"><b>Charge Type</b></td>
                  <td style="text-align: right; padding-right: 5px;"><b>Amount (Rs.)</b></td>
                  <!--<td style="text-align: center">Action</td>-->
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let fee of booking.otherAppointmentCharges; let index = index;">
                  <td style="padding-left: 5px;">{{fee.description}}</td>
                  <td style="text-align: right; padding-bottom: 1.25em; padding-right: 5px;">
                    <mat-form-field style="width:150px; height: 20px; text-align: right" class="pull-right">
                      <input matInput type="number" name="cahrgeAmount_{{index}}" id="cahrgeAmount_{{index}}" [(ngModel)]="fee.amount" [value]="fee.amount" (change)="onChangeCalculateTotal(booking.otherAppointmentCharges)"/>
                    </mat-form-field>
                  </td>
                  <!--<td style="text-align: center; vertical-align: bottom; padding-bottom: 1.15em;">-->
                    <!--&lt;!&ndash;<i class="fa fa-edit" (click)="onClickEditCharge(fee.feeCode)"></i> &nbsp; &ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="fa fa-trash" (click)="onClickRemoveCharge(fee.feeCode)"></i>&ndash;&gt;-->
                  <!--</td>-->
                </tr>
                <tr ><td>&nbsp;</td><td></td></tr>
                <tr style="border-bottom: 1px double black; padding-left: 5px;">
                  <td style="font-weight: bold;">
                    Total
                  </td>
                  <td style="text-align: right; padding-right: 5px; font-weight: bold;">
                    {{booking.total | number: '1.2-2'}}
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="col-md-12 no-padding-left no-padding-right">
        <div class="form-group text-center" >
          <span class="pull-left" *ngIf="!paymentSubmitted"><button class="btn btn-info btn-sm" [disabled]="submitPending" > Pay <i class="fa fa-spin fa-spinner" *ngIf="submitPending"></i></button></span>
          <button type="button" class="btn btn-primary btn-sm align-content-center no-print" (click)="onPrintReceipt();" *ngIf="(bookingObj.refNo > 0) && (gVariable.authentication.authorized) && paymentSubmitted" >Print</button>
          <span class="pull-right"  (click)="onClickBackToList()"><button class="btn btn-warning btn-sm"> Back</button></span>
        </div>
      </div>
    </form>
</div>

<div class="row printable" *ngIf="(bookingObj.refNo > 0) && (gVariable.authentication.authorized) && paymentSubmitted">
  <div class="col-md-12">
    <app-order-details [parentOrderRef]="bookingObj.refNo"></app-order-details>
  </div>
</div>
