<div class="main-content no-padding-left no-padding-right" id="mainContent-createShedule">
  <div class="container-fluid" style="height: 100%;">
    <div class="card">
      <div class="card-header card-header-info">
        <h4 class="card-title">User-Registration</h4>
      </div>

      <div class="card-body">
        <form #userRegistrationForm="ngForm" name="userRegistrationForm" id="userRegistrationForm" (ngSubmit)="userRegistrationForm.form.valid && onClickUserRegister();" novalidate>

          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <input matInput type="text" #firstName="ngModel" [(ngModel)]="userRegObj.firstName" id="firstName" name="firstName" placeholder="First Name" required />
              </mat-form-field>
              <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched" >First name is required</small>
            </div>

            <div class="col-md-12">
              <mat-form-field>
                <input matInput type="text" #lastName="ngModel" [(ngModel)]="userRegObj.lastName" id="lastName" name="lastName" placeholder="Last Name" required />
              </mat-form-field>
              <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched" >Last name is required</small>
            </div>

            <div class="col-md-12">
              <mat-form-field>
                <input matInput type="text" pattern="([0-9]{9}[v|V|x|X])|([0-9]{12})" [(ngModel)]="userRegObj.nic" #nic="ngModel" maxlength="12" id="nic" name="nic" placeholder="NIC" required/>
              </mat-form-field>
              <div *ngIf="nic.invalid && nic.touched">
                <small class="text-danger" *ngIf="nic.errors.required">NIC is required</small>
                <small class="text-danger" *ngIf="nic.errors.pattern">NIC must be valid</small>
              </div>
            </div>

            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email Address" type="text" id="email" name="email" #email="ngModel" [(ngModel)]="userRegObj.email" required email pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" spellcheck="false"  />
              </mat-form-field>
              <div *ngIf="email.invalid && email.touched">
                <small class="text-danger" *ngIf="email.errors.required">Email address is required</small>
                <small class="text-danger" *ngIf="email.errors.pattern">Email must be valid</small>
              </div>
            </div>

            <div class="col-md-12">
              <mat-form-field>
                <input matInput type="text" pattern="[0][0-9]{9}" [(ngModel)]="userRegObj.contactNo" #contactNumber="ngModel" id="contactNumber" required [class.is-invalid]="contactNumber.invalid && contactNumber.touched" name="contactNumber" placeholder="Contact Number" />
              </mat-form-field>
              <div *ngIf="contactNumber.invalid && contactNumber.touched">
                <small class="text-danger" *ngIf="contactNumber.errors.required">Contact number is required</small>
                <small class="text-danger" *ngIf="contactNumber.errors.pattern">Contact number must be valid and consist of 10 digits</small>
              </div>
            </div>

            <div class="col-md-12">
            <mat-form-field>
              <input matInput type="password" #password="ngModel" [(ngModel)]="userRegObj.password" id="password" name="password" placeholder="Password" required />
            </mat-form-field>
            <small class="text-danger" [class.d-none]="password.valid || password.untouched" >Password is required</small>
          </div>

            <div class="col-md-12">
              <mat-form-field>
                <input matInput type="password" #confirmPassword="ngModel" [(ngModel)]="userRegObj.confirmPassword" id="confirmPassword" name="confirmPassword"
                       placeholder="Confirm Password" required appConfirmEqualValidator="password" />
              </mat-form-field>
              <div *ngIf="confirmPassword.invalid && confirmPassword.touched">
                <small class="text-danger" *ngIf="confirmPassword.errors.required">Password confirmation is required</small>
                <small class="text-danger" *ngIf="confirmPassword.errors?.notEqual">Passwords do not match</small>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="buttonWrapper-right pull-left">
                <button type="submit" class="btn btn-info btn-sm" [disabled]="userRegistrationForm.invalid">Submit <i class="fa fa-spinner fa-spin" *ngIf="requestPending == true"></i></button>
                <button type="button" class="btn btn-warning btn-sm" (click)="onClickBack()">Back</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
