<div class="main-content no-padding-left no-padding-right no-print" id="mainContent-createShedule">
    <div class="container-fluid " style="height: 100%;">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">{{pagetitle}}</h4>
            </div>

            <div class="card-body">
                <div class="row no-padding-right no-padding-left">
                    <div class="col-md-12 no-padding-right no-padding-left">
                        <mat-horizontal-stepper #stepper [selectedIndex]="stepperIndex" >
                            <mat-step [label]="'Patient Data'" [state]="staticConfig.appoinmentBookingStages.INIT" [stepControl]="patientDataForm">
                                <!--<div class="row">-->
                                    <form #patientDataForm="ngForm" id="patientDataForm" name="patientDataForm" (ngSubmit)="patientDataForm.form.valid && onSubmitBookingForm(booking, stepper)" novalidate>
                                    <div class="col-md-12  no-padding-right no-padding-left">
                                        <!--<form #patientDataForm="ngForm" id="patientDataForm" name="patientDataForm" (ngSubmit)="patientDataForm.form.valid && onSubmitBookingForm(booking)" novalidate>-->
                                            <div class="col-md-12 floatLeft no-padding-right no-padding-left">
                                                <mat-form-field>
                                                    <input matInput type="text" #patientName="ngModel" [(ngModel)]="booking.patientName" id="patientName" name="patientName" placeholder="Patient Name" required />
                                                </mat-form-field>
                                                <small class="text-danger" [class.d-none]="patientName.valid || patientName.untouched" >Patient Name is required</small>
                                            </div>

                                            <div class="col-md-12 floatLeft no-padding-right no-padding-left">
                                                <mat-form-field>
                                                    <input matInput type="text" pattern="[0][0-9]{9}" [(ngModel)]="booking.mobileNumber" #mobileNumber="ngModel" id="mobileNumber" required [class.is-invalid]="mobileNumber.invalid && mobileNumber.touched" name="mobileNumber" placeholder="Phone Number" />
                                                </mat-form-field>
                                                <div *ngIf="mobileNumber.invalid && mobileNumber.touched">
                                                    <small class="text-danger" *ngIf="mobileNumber.errors.required">Phone number is required</small>
                                                    <small class="text-danger" *ngIf="mobileNumber.errors.pattern">Phone number must be valid and consist of 10 digits</small>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-9 floatLeft no-padding-right no-padding-left">
                                                <mat-form-field>
                                                    <input matInput type="text" pattern="([0-9]{9}[v|V|x|X])|([0-9]{12})" [(ngModel)]="booking.nic" #nic="ngModel" maxlength="12" id="nic" name="nic" placeholder="NIC" />
                                                </mat-form-field>
                                                <small class="text-danger" [class.d-none]="nic.valid || nic.untouched" >NIC should be valid</small>
                                            </div>

                                            <div class="col-md-3 floatLeft  no-padding-right no-padding-left">
                                                <mat-form-field>
                                                    <mat-label>Date of Birth</mat-label>
                                                    <input matInput [matDatepicker]="datePickerDateOfBirth" [max]="dateOption.maxDate" disabled  name="rangeDates" id="rangeDates" #rangeDates="ngModel" [(ngModel)]="booking.dateOfBirth" />
                                                    <mat-datepicker-toggle matSuffix [for]="datePickerDateOfBirth"></mat-datepicker-toggle>
                                                    <mat-datepicker #datePickerDateOfBirth disabled="false" color="info"></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        <!--</form>-->
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-md-12">
                                        <div class="card-footer">
                                            <div class="form-group text-center" >
                                                <button class="btn btn-info btn-sm"  type="submit" [disabled]="patientDataForm.invalid || requestPending == true"> Submit <i class="fa fa-spinner fa-spin" *ngIf="requestPending == true"></i> </button>
                                            </div>
                                            <span style="float:right;" *ngIf="(this.cart?.step == staticConfig.appoinmentBookingStages.INIT)"><button class="btn btn-warning btn-sm" (click)="onCancelBooking()"> Cancel </button></span>
                                        </div>
                                    </div>

                                    </form>
                                <!--</div>-->
                            </mat-step>

                            <mat-step [label]="'Confirmation'" [state]="staticConfig.appoinmentBookingStages.COMFIRM">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card bg-light mb-5 text-dark">
                                            <div class="card-header card-header-success card-header-icon">
                                                <div class="card-icon"><i class="material-icons">assignment</i></div>
                                                <div class="card-title"><h5>Appointment Details</h5></div>
                                            </div>

                                            <div class="card-body">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <table class="table-no-border" width="100%" border="0px" >
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 25%;">Session Date</td>
                                                                <td>:</td>
                                                                <td style="width: 74%;">{{ appointmentDetails?.session?.appointmentDate }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="row" *ngIf="(!gVariable.authentication?.authorized && selectedSessionData.showNo) || (gVariable.authentication?.authorized)">
                                                        <table class="table-no-border" width="100%" border="0px" >
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 25%;">Appointment No</td>
                                                                <td>:</td>
                                                                <td style="width: 74%;">{{ appointmentDetails?.appointmentNo }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="row">
                                                        <table class="table-no-border" width="100%" border="0px" >
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 25%;">Appointment Time</td>
                                                                <td>:</td>
                                                                <td style="width: 74%;">{{ appointmentDetails?.appointmentTime }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="row">
                                                        <table class="table-no-border" width="100%" border="0px" >
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 25%;">Patient Name</td>
                                                                <td>:</td>
                                                                <td style="width: 74%;">{{ appointmentDetails?.patient?.name }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="row">
                                                        <table class="table-no-border" width="100%" border="0px" >
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 25%;">Patient Tel</td>
                                                                <td>:</td>
                                                                <td style="width: 74%;">{{ appointmentDetails?.patient?.mobileNo }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="row">
                                                        <table class="table-no-border" width="100%" border="0px" >
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 25%;">Patient NIC</td>
                                                                <td>:</td>
                                                                <td style="width: 74%;">{{ appointmentDetails?.patient?.nic  || 'N/A'}}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="row">
                                                        <table class="table-no-border" width="100%" border="0px" >
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 25%;">Patient DOB</td>
                                                                <td>:</td>
                                                                <td style="width: 74%;">{{ appointmentDetails?.patient?.dateOfBirth || 'N/A' }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="clearfix"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                            <div class="card bg-light mb-3 text-dark">
                                                <div class="card-header card-header-success card-header-icon">
                                                    <div class="card-icon"><i class="material-icons">attach_money</i></div>
                                                    <div class="card-title"><h5>Online Applicable Appointment Charges</h5></div>
                                                </div>
                                                <div class="card-body">
                                                    <table class="table-no-border" width="100%" border="0px" >
                                                        <thead class="ard-header card-header-info">
                                                        <tr style="border-bottom: 1px solid black;">
                                                            <td><b>Charge Type</b></td>
                                                            <td style="text-align: right"><b>Amount (Rs.)</b></td>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr *ngFor="let fee of appointmentDetails.onlineApplicableAppointmentCharges">
                                                            <td>{{fee.description}}</td>
                                                            <td style="text-align: right">{{fee.amount}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="card bg-light mb-3 text-dark">
                                            <div class="card-header card-header-success card-header-icon">
                                                <div class="card-icon"><i class="material-icons">attach_money</i></div>
                                                <div class="card-title"><h5>Other Appointment Charges</h5></div>
                                            </div>
                                            <div class="card-body">
                                                <table class="table-no-border" width="100%" border="0px" >
                                                    <thead class="ard-header card-header-info">
                                                    <tr style="border-bottom: 1px solid black;">
                                                        <td><b>Charge Type</b></td>
                                                        <td style="text-align: right"><b>Amount (Rs.)</b></td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr *ngFor="let fee of appointmentDetails.otherAppointmentCharges">
                                                        <td>{{fee.description}}</td>
                                                        <td style="text-align: right">{{fee.amount}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="card-footer">
                                        <p class="text-warning">{{appointmentDetails.chargeDescription}}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="clearfix"></div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card bg-light mb-3 text-dark">
                                            <div class="card-header card-header-info card-header-icon">
                                                <div class="card-icon">
                                                    <img src="./assets/images/hospital-icon-green.png" width="40px" height="40px" >
                                                </div>
                                                <div class="card-title"><h5>Center Details</h5></div>
                                            </div>
                                            <div class="card-body">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <table class="table-no-border" width="100%" border="0px" >
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 25%;">Center</td>
                                                                <td>:</td>
                                                                <td style="width: 74%;">{{ appointmentDetails?.center?.centerName }}</td>
                                                            </tbody>
                                                        </table>
                                                        <div class="clearfix"></div>
                                                    </div>

                                                    <div class="row">
                                                        <table class="table-no-border" width="100%" border="0px" >
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 25%;">Address</td>
                                                                <td>:</td>
                                                                <td style="width: 74%;">{{ (appointmentDetails?.center && appointmentDetails?.center?.address) ? appointmentDetails.center.address.address + ' ' +  appointmentDetails.center.address.city : '' }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="clearfix"></div>
                                                    </div>

                                                    <div class="row">
                                                        <table class="table-no-border" width="100%" border="0px" >
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 25%;">Telephone No</td>
                                                                <td>:</td>
                                                                <td style="width: 74%;">{{ appointmentDetails?.center?.contactNo }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="clearfix"></div>
                                                    </div>

                                                    <div class="row">
                                                        <table class="table-no-border" width="100%" border="0px" >
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 25%;">Open Time</td>
                                                                <td>:</td>
                                                                <td style="width: 74%;">{{ appointmentDetails?.center?.openTime }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="card bg-light mb-3 text-dark">
                                            <div class="card-header card-header-info card-header-icon">
                                                <div class="card-icon">
                                                    <img src="./assets/images/doctor-active.png" width="40px" height="40px" >
                                                </div>
                                                <div class="card-title"><h5>Doctor Details</h5></div>
                                            </div>
                                            <div class="card-body">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <table class="table-no-border" width="100%" border="0px" >
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 25%;">Doctor</td>
                                                                <td>:</td>
                                                                <td style="width: 74%;">{{(appointmentDetails.session && appointmentDetails.session.doctor && appointmentDetails.session.doctor.user) ?  appointmentDetails.session.doctor.user.firstName.toUpperCase() + ' ' + appointmentDetails.session.doctor.user.lastName.toUpperCase() : '' }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="clearfix"></div>
                                                    </div>

                                                    <div class="row">
                                                        <table class="table-no-border" width="100%" border="0px" >
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 25%;">SLMC NO</td>
                                                                <td>:</td>
                                                                <td style="width: 74%;">{{ (appointmentDetails.session && appointmentDetails.session.doctor) ? appointmentDetails.session.doctor.slmcNo : '' }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="clearfix"></div>
                                                    </div>

                                                    <div class="row">
                                                        <table class="table-no-border" width="100%" border="0px" >
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 25%;">Telephone No</td>
                                                                <td>:</td>
                                                                <td style="width: 74%;">{{(appointmentDetails.session && appointmentDetails.session.doctor && appointmentDetails.session.doctor.user) ? appointmentDetails.session.doctor.user.contactNo : '' }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="clearfix"></div>
                                                    </div>

                                                    <div class="row">
                                                        <table class="table-no-border" width="100%" border="0px" >
                                                            <tbody>
                                                            <tr>
                                                                <td style="width: 25%;">E-Mail</td>
                                                                <td>:</td>
                                                                <td style="width: 74%;">{{(appointmentDetails.session && appointmentDetails.session.doctor && appointmentDetails.session.doctor.user) ? appointmentDetails.session.doctor.user.email : '' }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="clearfix"></div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group text-center" >
                                            <button class="btn btn-primary btn-sm pull-left"  *ngIf="(this.cart?.step == staticConfig.appoinmentBookingStages.COMFIRM)" (click)="onClickEdit()"> <i class="fa fa-edit"></i> Edit</button>
                                            <button type="button" class="btn btn-primary btn-sm align-content-center no-print" (click)="onPrintReceipt();" *ngIf="(appointmentDetails.refNo > 0) && (gVariable.authentication.authorized) && staticConfig.appoinmentBookingStages.COMFIRM">Print</button>
                                            <span class="pull-right" *ngIf="(this.cart?.step == staticConfig.appoinmentBookingStages.COMFIRM)" (click)="onClickBackToHome()"><button class="btn btn-warning btn-sm"> Back to List</button></span>
                                            <span class="pull-right" *ngIf="(this.cart?.step == staticConfig.appoinmentBookingStages.COMFIRM) && !gVariable.authentication.authorized" (click)="onClickConfirmAppointment()"><button class="btn btn-success btn-sm"> Confirm </button></span>
                                        </div>
                                    </div>
                                </div>
                            </mat-step>

                            <mat-step [label]="'Payment'"  [state]="staticConfig.appoinmentBookingStages.PAYMENT" *ngIf="!gVariable.authentication.authorized">
                                <app-payment-view [appointmentData]="appointmentDetails"></app-payment-view>
                            </mat-step>

                            <ng-template [matStepperIcon]="staticConfig.appoinmentBookingStages.INIT">
                                <mat-icon>person</mat-icon>
                            </ng-template>
                            <ng-template [matStepperIcon]="staticConfig.appoinmentBookingStages.COMFIRM">
                                <mat-icon>forum</mat-icon>
                            </ng-template>
                            <ng-template [matStepperIcon]="staticConfig.appoinmentBookingStages.PAYMENT">
                                <mat-icon>attach_money</mat-icon>
                            </ng-template>
                        </mat-horizontal-stepper>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row printable" *ngIf="(appointmentDetails.refNo > 0) && (gVariable.authentication.authorized) && !staticConfig.appoinmentBookingStages.COMFIRM && this.printOrder">
    <div class="col-md-12">
        <app-order-details [parentOrderRef]="appointmentDetails.refNo"></app-order-details>
    </div>
</div>


<div class="row printable" *ngIf="(appointmentDetails.refNo > 0) && (gVariable.authentication.authorized) && staticConfig.appoinmentBookingStages.COMFIRM && this.printOrder">
    <div class="col-md-12">
        <app-token-details [parentOrderRef]="appointmentDetails.refNo" [parentOrderDetails]="appointmentDetails"></app-token-details>
    </div>
</div>





