<div class="main-content {{isParent == 'no' ? 'no-margin-top no-padding-left no-padding-right' : 'no-padding-top' }}">
    <div class="card card-plain" *ngIf="isParent != 'no'">
        <div class="card-header card-header-info" >
            <h4 class="card-title">Session List</h4>
        </div>
    </div>

    <div class="container-fluid" style="height: 100%;">
        <div class="row no-padding-left no-padding-right" *ngIf="action == false">
			<div class="card no-margin-top">
				<div class="card-header no-padding-left no-padding-right">
					<div class="col-md-6 ">
						<div class="col-sm-6 floatLeft no-padding-left no-padding-right">
							<mat-form-field color="accent">
								<mat-label>From Date</mat-label>
								<input matInput [matDatepicker]="picker1" [min]="gVariable.authentication?.authorized ? '' : searchObject.fromMin" disabled (dateChange)="onChangeFromDate()" [(ngModel)]="searchObject.rangeDates[0]">
								<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
								<mat-datepicker #picker1 color="info" disabled="false"></mat-datepicker>
							</mat-form-field>
						</div>
						<div class="col-sm-6 floatLeft no-padding-left no-padding-right">
							<mat-form-field color="accent">
								<mat-label>To Date</mat-label>
								<input matInput [matDatepicker]="picker2" [min]="searchObject.rangeDates[0]" disabled (dateChange)="onChangeToDate()" [(ngModel)]="searchObject.rangeDates[1]">
								<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
								<mat-datepicker #picker2 color="primary" disabled="false"></mat-datepicker>
							</mat-form-field>
						</div>
					</div>

					<div class="col-md-6 floatLeft no-padding-left no-padding-right">
						<div class="col-md-6 floatLeft" *ngIf="
						(((!gVariable.authentication.authorized) && doctorObject && (Object.keys(doctorObject).length > 0))
						|| ((gVariable.authentication?.authorized && (gVariable.authentication?.roles[0].roleId == staticConfig.userTypes.DOCTOR.id))))
						&& (centersList && centersList.length > 0)">
							<mat-form-field>
								<mat-select matNativeControl [placeholder]="'The Center'" #centerList="ngModel" [(ngModel)]="searchObject.selectedCenter"  name="centerList" id="centerList" (selectionChange)="onChangeCenter()">
									<!--<ng-template>-->
									<mat-option [value]="'viewAll'">Select The Center</mat-option>
									<mat-option *ngFor="let option of centersList" [value]="option.centerId"> {{option.centerName}} </mat-option>
									<!--</ng-template>-->
								</mat-select>
							</mat-form-field>
						</div>

						<div class="col-md-6 floatLeft" *ngIf="
						(((!gVariable.authentication.authorized) && centerObject && (Object.keys(centerObject).length > 0))
						|| ((gVariable.authentication?.roles) && (gVariable.authentication?.roles[0].roleId != staticConfig.userTypes.DOCTOR.id)))
						&& (doctorsList && doctorsList.length > 0)">
							<mat-form-field>
								<mat-select matNativeControl [placeholder]="'The Doctor'" #doctorList="ngModel" [(ngModel)]="searchObject.selectedDoctor" name="doctorList" id="doctorList" (selectionChange)="onChangeDoctor()" >
									<!--<ng-template>-->
									<mat-option [value]="'viewAll'">Select The Doctor</mat-option>
									<mat-option *ngFor="let option of doctorsList" [value]="option.doctorId"> {{'Dr. ' + option.user?.firstName + ' ' + option.user?.lastName}} </mat-option>
									<!--</ng-template>-->
								</mat-select>
							</mat-form-field>
						</div>

						<div class="col-md-6 pull-right" *ngIf="gVariable.authentication?.roles && ((gVariable.authentication.roles[0].roleId == staticConfig.userTypes.DOCTOR.id) || (gVariable.authentication.roles[0].roleId == staticConfig.userTypes.CENTER_ADMIN.id))">
							<button class="btn btn-info btn-sm pull-right" (click)="onclickAddNew()" *ngIf="(action == false) && (selectedDoctorId > 0) && (selectedCenterId >0) && this.gVariable.authentication?.authorized && (authSev.checkEntitlementAvailability([staticConfig.entitlementsList.createSession_doctor.id, this.staticConfig.entitlementsList.createSession_CenterAdmin.id]))" >New Session Schedule</button>
						</div>
					</div>
				</div>

			</div>

			<div class="col-md-12 no-padding-left no-padding-right">
				<app-session *ngFor="let session of sessionList" [sessionObj]="session" [centerObject]="centerObject" [doctorObject]="doctorObject" [selectedDoctor]="searchObject.selectedDoctor" [selectedCenter]="searchObject.selectedCenter" (clickBookNow)="onclickBook(session,$event)" (clickViewCenter)="onClickViewCenterDetails($event)" (clickViewDoctor)="onClickViewDoctorDetails($event)"></app-session>
			</div>

			<div class="col-md-12 no-padding-left no-padding-right" *ngIf="(action == false) && (!sessionList || (sessionList && sessionList.length < 1))">
				<div class="col-md-12" >
					<div class="panel panel-default"><!--danger success-->
						<div class="panel-body text-center">
							<span *ngIf="gVariable.authentication.authorized">Sessions not available</span>
							<span *ngIf="!gVariable.authentication.authorized">Sessions for online bookings will be displayed here soon.</span>
						</div>
					</div>
				</div>
			</div>

        </div>
    </div>
</div>

<div class="childModal" style="display: none"></div>

<p-dialog *ngIf="doctorData?.user" header="Doctor Details " [(visible)]="displayDoctorDetails" width="100%"  [autoZIndex]="false">
		<div class="card bg-light mb-3 text-dark col-md-4 no-margin-top floatLeft">
			<div class="card-body">
				<h4 class="card-title" style="color:#00b1b1;">Dr. {{ doctorData.user?.firstName.toUpperCase() + ' '  + doctorData.user?.lastName.toUpperCase()}}</h4>
				<p class="card-category text-dark"> <span class="text-success"><i class="fa fa-address-card-o"></i> SLMC No : </span> {{ doctorData.slmcNo }}</p>
				<p class="card-category text-dark"> <span class="text-success"><i class="fa fa-phone-square"></i> Contact No : </span> {{doctorData.user?.contactNo}}</p>
			</div>
			<div class="card-footer">
				<div class="stats">
					<!--<i class="material-icons">access_time</i> updated 4 minutes ago-->
				</div>
			</div>
		</div>

		<div class="card col-md-7 no-margin-top float-md-right  bg-light mb-3 text-dark">
			<div class="card-body">
				<p class="card-category text-dark"> <span class="text-default"><i class="fa fa-user"></i> <b>First Name</b> : </span> {{ doctorData.user?.firstName }}</p>
				<p class="card-category text-dark"> <span class="text-default"><i class="fa fa-user"></i> <b>Last Name</b> : </span> {{ doctorData.user?.lastName }}</p>
				<p class="card-category text-dark"> <span class="text-default"><i class="fa fa-envelope"></i> <b>E-Mail</b> : </span> {{ doctorData.user?.email }}</p>
			</div>
			<div class="card-footer">
				<div class="stats">
					<div class="row">
						<div class="col-md-12">
							<p class="card-category text-dark"> <span class="text-default"><i class="fa fa-graduation-cap"></i> <b>Education</b> : </span> {{ doctorData.qualification.eduaction }}</p>
						</div>
						<div class="col-md-12">
							<p class="card-category text-dark"> <span class="text-default"><i class="fa fa-university"></i> <b>University</b> : </span> {{ doctorData.qualification.university }}</p>
						</div>
						<div class="col-md-12">
							<p class="card-category text-dark"> <span class="text-default"><i class="fa fa-edit"></i> <b>Remark</b> : </span> {{ doctorData.qualification.remark }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
</p-dialog>

<p-dialog *ngIf="centerData?.address" header="Center Details " [(visible)]="displayCenterDetails" [style]="{width:'50% !important', height:'50%'}" [autoZIndex]="false">

	<div class="card col-md-12 no-margin-top floatLeft bg-light mb-3 text-dark">
		<div class="card-body">
			<h4 class="card-title" style="color:#00b1b1;"> {{ centerData.centerName }}</h4>
			<p class="card-category text-dark"> <span class="text-success"> <i class="fa fa-address-card"></i><b> Address</b> : </span> {{centerData.address?.address}} {{ centerData.address?.city }} </p>
			<p class="card-category text-dark"> <span class="text-success"><i class="fa fa-phone-square"></i><b> Contact No</b> : </span> {{centerData.contactNo}} </p>
		</div>
		<div class="card-footer">
			<div class="stats text-dark">
				<p class="card-category text-dark"><i class="material-icons">access_time</i> Open Time : {{centerData.openTime}} </p>

				<p class="card-category text-dark">
					<label class="label text-success label-sm" *ngIf="centerData.status == 'OPEN'"> {{ ' ('+ centerData.status + ')' }}</label>
					<label class="label label-warning label-sm" *ngIf="centerData.status != 'OPEN'"> {{ ' ('+ centerData.status + ')' }}</label>
				</p>
			</div>
		</div>
	</div>


</p-dialog>


