<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-6">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="./assets/images/login.png" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray"></h6>
            <h4 class="card-title">Forgot Password</h4>
            <p class="card-description">
              Please fill in your E-Mail address in the following field
            </p>

            <form #forgetPasswordForm="ngForm" name="forgetPasswordForm" (ngSubmit)="forgetPasswordForm.form.valid && onClickSubmitForm(forgetPasswordForm);" novalidate>

                <div class="row">
                  <div class="col-md-1">

                  </div>
                  <div class="col-md-10">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email address" type="text" id="userName" name="userName" #userName="ngModel" [(ngModel)]="passwordForgetRequest.userName" required email pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" spellcheck="false"  />
                        <mat-error *ngIf="forgetPasswordForm.submitted && userName.errors && userName.errors.required">This filed is required.</mat-error>
                        <mat-error *ngIf="forgetPasswordForm.submitted && userName.errors && (userName.errors.email || userName.errors.pattern)">Enter a valid email address.</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-info btn-sm pull-left" [disabled]="submitPending == true">Submit <i class="fa fa-spinner fa-spin" *ngIf="submitPending == true"></i></button>
                    </div>
                  </div>

                  <div class="clearfix"></div>
                </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
