<div class="row no-print">
  <div class="col-md-12">
    <button class="btn btn-info btn-sm pull-right" [disabled]="sessionEnded" (click)="onClickNewAppointment(selectedSessionId)"
                                                        *ngIf="(selectedSessionObj.status == 'ACTIVE') && (selectedSessionObj.noOfPatient > 0) && (selectedSessionObj.noOfPatient > selectedSessionObj.noOfReservedPatient) &&
                                                            (Object.keys(this.selectedBookingObj).length <= 0) &&
                                                            (authSev.checkEntitlementAvailability([
																staticConfig.entitlementsList.createAppoinment_doctor.id,
                    											staticConfig.entitlementsList.createAppointment_CenterAdmin.id]))">New Appointment</button>
  </div>

    <div class="col-md-12" *ngIf="(appointmentList.length > 0) && (Object.keys(this.selectedBookingObj).length <= 0)">
        <div class="col-md-3 floatLeft">
            <mat-form-field>
                <mat-select matNativeControl #filterStatus="ngModel" name="filterStatus" id="filterStatus" placeholder="Filter By Status" [(ngModel)]="filterByStatus" >
                    <mat-option [value]="">Select the Status</mat-option>
                    <mat-option *ngFor="let status of appointmentStatusList" [value]="status.value">{{status.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3 floatLeft">
            <mat-form-field>
                <input matInput #filterAppointmentNo="ngModel" name="filterAppointmentNo" id="filterAppointmentNo" placeholder="Filter By Appointment No" [(ngModel)]="filterByAppointmentNo" />
            </mat-form-field>
        </div>
    </div>
</div>


<div class="row no-print" *ngIf="(appointmentList.length > 0) && (Object.keys(this.selectedBookingObj).length <= 0); else elseBlock">
    <div class="col-md-12">
        <div class="col-lg-4 col-md-4 col-sm-6 floatLeft padding-left-5 padding-right-5" *ngFor="let appointment of appointmentList | AppointmentsFilter: filterByAppointmentNo | AppointmentsStatusFilter: filterByStatus;  let $index=index;">
            <div class="example-ripple-container" matRipple  [matRippleColor]="'#8bb1ef'" [matRippleRadius]="'20'">
                <div class="card card-stats bg-light mb-3 text-dark"  style="background-color: white">
                    <div class="card-header card-header-info card-header-icon" id="sessionHeader">
                        <div class="card-icon">
                            <!--<i class="material-icons">store</i>-->
                            <img src="./assets/images/checkup.png" width="50px" height="50px" *ngIf="appointment.status != 'ACTIVE'">
                            <img src="./assets/images/checkup.png" width="50px" height="50px" *ngIf="appointment.status == 'ACTIVE'">
                        </div>
                        <div class="card-category" id="sessionCategory">
                            <h6 class="media-heading popupText">Ref No : <span>{{ appointment.refNo }}</span></h6>
                            <h6 class="media-heading popupText">Patient : <span>{{ appointment.patient.name }}</span></h6>
                        </div>
                        <h5 class="card-title" id="sessionCurrentNumbr">Tel : <span>{{ appointment.patient.mobileNo || 'N/A' }}</span></h5>
                    </div>
                    <div class="card-footer">
                        <div class="stats col-md-12">
                            <div class="col-md-12 no-padding-left  no-padding-right">
                                <div class="row no-padding-left  no-padding-right">
                                    <table class="table-no-border" width="100%" border="0px" >
                                        <tbody>
                                        <tr>
                                            <td style="width: 50%;"> <p> <b>Date:  </b>{{appointment.session.appointmentDate}}</p></td>
                                            <td style="width: 50%;"><p><b> Appointment No : </b> {{ appointment.appointmentNo }}</p></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="row">
                                    <table class="table-no-border" width="100%" border="0px" >
                                        <tbody>
                                        <tr>
                                            <td style="width: 45%;"> <p> <b>Time:  </b> {{'2020-10-10 '+ appointment.appointmentTime.split('.').join(':') | date:'shortTime' }}</p></td>
                                            <td style="width: 55%;"><p><b>Appointment Type: </b> {{ appointment.type }} </p></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="row">
                                    <table class="table-no-border" width="100%" border="0px" >
                                        <tbody>
                                        <tr>
                                            <td style="width: 50%;"><p> <b>DOB:  </b>{{ appointment.patient.dateOfBirth || 'N/A' }}</p></td>
                                            <td style="width: 50%; color: black;"><p><b>NIC No: </b> {{ appointment.patient.nic || 'N/A' }}</p></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="row">
                                    <table class="table-no-border" width="100%" border="0px" >
                                        <tbody>
                                        <tr>
                                            <td style="width: 50%;"><p> <b>Status:  </b> <span class="{{appointment.status=='ACTIVE'? 'text-success': 'text-warning'}}">{{ appointment.status }} </span> </p></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="row  no-padding-left  no-padding-right" style="min-height: 40px;" *ngIf="(authSev.checkEntitlementAvailability([
																staticConfig.entitlementsList.viewAppoinment_doctor.id,
                    											staticConfig.entitlementsList.editAppoinment_doctor.id,
                    											staticConfig.entitlementsList.viewAppointment_CenterAdmin.id,
                    											staticConfig.entitlementsList.updateAppointment_CenterAdmin.id]))">
                                    <div class=" col-md-12 no-padding-left  no-padding-right">
                                        <button type="button" class="btn btn-sm btn-primary pull-left" [disabled]="!sessionStarted" (click)="onClickAppointmentCompleted(appointment)" *ngIf="(false && appointment.status == 'ACTIVE')">Set As Visited</button>
                                        <button type="button" class="btn btn-sm btn-warning pull-right" (click)="onClickInActiveAppointment(appointment)" *ngIf="(appointment.status == 'ACTIVE')">DeActivate</button>
                                        <button type="button" class="btn btn-sm btn-success pull-right" [disabled]="!sessionStarted" (click)="onClickPayAppointment(appointment)" *ngIf="(appointment.status == 'ACTIVE') || (appointment.status == 'VISITED')">Pay</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #elseBlock></ng-template>
<div class="row no-print" *ngIf="appointmentList.length < 1">
    <div class="col-md-12" style="text-align: center;">
        Appointments not available..
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <app-appointment-view [selectedBookingObj]="selectedBookingObj" [selectedSessionObj]="selectedSessionObj"
                              *ngIf="(Object.keys(this.selectedBookingObj).length > 0) && (Object.keys(this.selectedSessionObj).length > 0)"
                              (clickBackToList)="onClickBack()" (permissionDenied)="onClickBack()"></app-appointment-view>
    </div>
</div>
