<footer class="footer no-print">
    <div class="container">

        <div class="copyright center">
            &copy;
            {{test | date: 'yyyy'}}, Made with care by
            <a href="https://www.echannelling.com" target="_blank">e-channelling</a>.
        </div>
    </div>
</footer>
