<div class="wrapper">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="./assets/images/sidebar-4.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url('./assets/images/sidebar-4.jpg')"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</div>

