<div class="logo">
    <a [routerLink]="['']"  class="simple-text">
        <div class="logo-img">
            <div id="logoSideBarDiv" class="text-center"><img src="./assets/images/logo.jpeg" id="logoSideBarImage"/></div>
            <!--<img src="" width="100px" height="30px"/>-->
        </div>

    </a>

    <div class="text-center">
        <a [routerLink]="['', 'my-dashboard']" *ngIf="gVariable.authentication.authorized"><i class="fa fa-user"></i> {{ gVariable.authentication.firstName }} {{ gVariable.authentication.lastName }}</a>
        <a [routerLink]="['']" *ngIf="!gVariable.authentication.authorized"> {{staticConfig.pageTitle}} </a>
    </div>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">

    <!--public search option  -->
    <!--<form class="navbar-form">-->
      <!--<span class="bmd-form-group">-->
        <!--<div class="input-group no-border">-->
          <!--<input type="text" value="" class="form-control" placeholder="Search...">-->
          <!--<button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">-->
            <!--<i class="material-icons">search</i>-->
            <!--<div class="ripple-container"></div>-->
          <!--</button>-->
        <!--</div>-->
      <!--</span>-->
    <!--</form>-->

    <ul class="nav navbar-nav nav-mobile-menu">
        <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="#pablo">-->
                <!--<i class="material-icons">dashboard</i>-->
                <!--<p>-->
                    <!--<span class="d-lg-none d-md-block">Stats</span>-->
                <!--</p>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li class="nav-item dropdown">-->
            <!--<a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!--<i class="material-icons">notifications</i>-->
                <!--<span class="notification">5</span>-->
                <!--<p>-->
                    <!--<span class="d-lg-none d-md-block">Some Actions</span>-->
                <!--</p>-->
            <!--</a>-->
            <!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">-->
                <!--<a class="dropdown-item" href="#">Mike John responded to your email</a>-->
                <!--<a class="dropdown-item" href="#">You have 5 new tasks</a>-->
                <!--<a class="dropdown-item" href="#">You're now friend with Andrew</a>-->
                <!--<a class="dropdown-item" href="#">Another Notification</a>-->
                <!--<a class="dropdown-item" href="#">Another One</a>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="#pablo">-->
                <!--<i class="material-icons">person</i>-->
                <!--<p>-->
                    <!--<span class="d-lg-none d-md-block">Account</span>-->
                <!--</p>-->
            <!--</a>-->
        <!--</li>-->
    </ul>
  </div>
    <ul class="nav" *ngIf="menuItems && (menuItems.length > 0)">
        <!--<li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">-->
            <!--<a class="nav-link" [routerLink]="['']">-->
                <!--<i class="material-icons">dashboard</i>-->
                <!--<p>Home</p>-->
            <!--</a>-->
        <!--</li>-->

        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]" *ngIf="menuItem.click == ''">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>

            <a class="nav-link" (click)="onclickSetEventFunction(menuItem.click)" *ngIf="menuItem.click != ''">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>

        <!--<li routerLinkActive="active" class="nav-item">-->
            <!--<a class="nav-link" [routerLink]="['', 'login']" *ngIf="!gVariable.authentication.authorized">-->
                <!--<i class="material-icons">bubble_chart</i>-->
                <!--<p>Login</p>-->
            <!--</a>-->
        <!--</li>-->

        <!--<li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">-->
            <!--<a class="nav-link" (click)="onClickLogOut()" *ngIf="gVariable.authentication.authorized">-->
                <!--<i class="material-icons">bubble_chart</i>-->
                <!--<p>Logout</p>-->
            <!--</a>-->
        <!--</li>-->

    </ul>
</div>


