<div class="main-content no-padding-left no-padding-right" id="mainContent-createShedule">
	<div class="container-fluid" style="height: 100%;">
		<div class="card">
			<div class="card-header card-header-info no-print" id="sessionViewCardHeader">
				<div class="card-title col-xs-3 floatLeft">Session</div>
				<div class="col-xs-9 buttonFullXs buttonWrapper-right text-right half-padding"
					 *ngIf="(authSev.checkEntitlementAvailability([ staticConfig.entitlementsList.editSession_doctor.id, staticConfig.entitlementsList.editSession_CenterAdmin.id]))">

					<!--<button class="btn btn-success btn-sm" (click)="onClickSessionDoctorArrived()" title="Start the session" *ngIf="(!sessionObj.doctorNotification)-->
					<!--|| (sessionObj.doctorNotification && (sessionObj.doctorNotification.typeId == notificationStatusList.DELAY.ID))" ><i class="fa fa-play"></i></button>-->

					<button class="btn btn-success btn-sm" [disabled]="!sessionStarted" (click)="onClickSessionStart()" title="Start the session" *ngIf="(!sessionObj.doctorNotification)
					|| (sessionObj.doctorNotification && (sessionObj.doctorNotification.typeId == notificationStatusList.ARRIVED.ID))
					|| (sessionObj.doctorNotification && (sessionObj.doctorNotification.typeId == notificationStatusList.DELAY.ID))" ><i class="fa fa-play"></i></button>

					<button class="btn btn-warning btn-sm" [disabled]="sessionStarted" (click)="onClickSessionDelay()" title="Delay the session" *ngIf="(!sessionObj.doctorNotification)
					|| (sessionObj.doctorNotification && (sessionObj.doctorNotification.typeId == notificationStatusList.ARRIVED.ID))
					|| (sessionObj.doctorNotification && (sessionObj.doctorNotification.typeId == notificationStatusList.START.ID))"> <i class="fa fa-pause-circle"></i></button>

					<!--<button class="btn btn-warning btn-sm" (click)="onClickSessionEnd()" title="Delay the session" *ngIf="(!sessionObj.doctorNotification)-->
					<!--|| (sessionObj.doctorNotification && (sessionObj.doctorNotification.typeId != notificationStatusList.START.ID))"><i class="fa fa-pause-circle"></i></button>-->

					<button class="btn btn-success btn-sm" (click)="onClickActive()" *ngIf="sessionObj.status == sessionStatusList.INACTIVE || sessionObj.status == sessionStatusList.OPEN || sessionObj.status == sessionStatusList.HOLIDAY">Activate</button>
					<button class="btn btn-info btn-sm" [disabled]="sessionStarted" (click)="onClickDeActive()" *ngIf="sessionObj.status == sessionStatusList.ACTIVE">Deactivate</button>
					<button class="btn btn-success btn-sm" [disabled]="sessionStarted" (click)="onClickOpen()" *ngIf="sessionObj.status == sessionStatusList.CLOSE">Open</button>
					<button class="btn btn-info btn-sm" [disabled]="!sessionStarted" (click)="onClickClose()" *ngIf="sessionObj.status == sessionStatusList.ACTIVE || sessionObj.status == sessionStatusList.OPEN">Close</button>
					<button class="btn btn-info btn-sm" [disabled]="sessionStarted" (click)="onClickHoliDay()" *ngIf="sessionObj.status == sessionStatusList.ACTIVE || sessionObj.status == sessionStatusList.OPEN">Holiday</button>
					<button class="btn btn-success btn-sm" (click)="onClickOnlineEnable()" *ngIf="sessionObj.webStatus == sessionWebStatusList.DISABLE">Web Enable</button>
					<button class="btn btn-info btn-sm" (click)="onClickOnlineDisable()" *ngIf="sessionObj.webStatus == sessionWebStatusList.ENABLE">Web Disable</button>
				</div>
			</div>

			<div class="card-body">
				<div class="row">
					<div class="col-md-12">

						<mat-tab-group>
							<mat-tab label="Session" class="no-print" *ngIf="(authSev.checkEntitlementAvailability([
																staticConfig.entitlementsList.viewSession_doctor.id,
                    											staticConfig.entitlementsList.editSession_doctor.id,
                    											staticConfig.entitlementsList.viewSession_CenterAdmin.id,
                    											staticConfig.entitlementsList.editSession_CenterAdmin.id]))">
								<!--<div class="card">-->
									<!--<div class="card-body">-->
										<form #sessionUpdate="ngForm" id="sessionUpdate" name="sessionUpdate" (ngSubmit)="sessionUpdate.form.valid && onClickUpdateSession(sessionObj)" novalidate>
											<div class="row">
												<div class="col-md-8 marginTop50">
													<div class="col-md-4 floatLeft">
														<mat-form-field>
															<mat-label>Start Time</mat-label>
															<input matInput [disabled]="sessionStarted" [ngxTimepicker]="defaultStartTime" placeholder="Start Time" [format]="12" name="startTime" id="startTime" #startTime="ngModel" [(ngModel)]="sessionObj.startTime" readonly required />
															<ngx-material-timepicker #defaultStartTime></ngx-material-timepicker>
															<div class="formErrorMessage" *ngIf="sessionUpdate.submitted && startTime.errors && startTime.errors.required">This field is required.</div>
														</mat-form-field>
													</div>

													<div class="col-md-4 floatLeft">
														<mat-form-field>
															<input matInput type="number" [min]="0"  id="noOfPatients" name="noOfPatients" placeholder="No. Of Patients" #noOfPatients="ngModel" [(ngModel)]="sessionObj.noOfPatient" required />
															<div class="formErrorMessage" *ngIf="sessionUpdate.submitted && noOfPatients.errors && noOfPatients.errors.required">This field is required.</div>
														</mat-form-field>
													</div>

													<div class="col-md-3 floatLeft">
														<mat-form-field>
															<input matInput type="number" [min]="0" id="viewDuration" name="viewDuration" placeholder="Pre view Duration(Day/s)" #viewDuration="ngModel" [(ngModel)]="sessionObj.viewDuration" required />
															<div class="formErrorMessage" *ngIf="sessionUpdate.submitted && viewDuration.errors && viewDuration.errors.required">This field is required.</div>
														</mat-form-field>
													</div>

													<div class="col-md-4 floatLeft">
														<mat-form-field>
															<input matInput type="number" [min]="0" id="appStartNo" name="appStartNo" placeholder="Appointment Starting No" #appStartNo="ngModel" [(ngModel)]="sessionObj.appStartNo" [disabled]="(sessionObj.currentPatient > 0)"/>
														</mat-form-field>
													</div>

													<div class="col-md-12 floatLeft">
														<button type="submit" style="margin-right: 20px;" class="btn btn-sm btn-info btn-sm pull-left" [disabled]="formSubmitPending"
																*ngIf="(authSev.checkEntitlementAvailability([
																staticConfig.entitlementsList.editSession_doctor.id,
																staticConfig.entitlementsList.editSession_CenterAdmin.id]))" > Update <i class="fa fa-spinner fa-spin" *ngIf="formSubmitPending"></i> </button>
														<button type="button" class="btn btn-sm btn-warning btn-sm pull-left" [routerLink]="['/session-list']">Back to List</button>
													</div>
												</div>

												<div class="col-md-4 marginTop50">
													<mat-form-field>
														<input matInput type="number" placeholder="Current Patient Number" [min]="0"  id="currentPatient" name="currentPatient" [(ngModel)]="sessionObj.currentPatient" class="input-number" disabled />
														<div class="formErrorMessage" *ngIf="sessionUpdate.submitted && noOfPatients.errors && noOfPatients.errors.required">This field is required.</div>
													</mat-form-field>
													<button [disabled]="!sessionStarted" type="button" class="btn btn-success btn-sm pull-right" data-type="plus" data-field="" (click)="onClickIncreaseCount();"
															*ngIf="(sessionObj.status == 'ACTIVE')
															&& (authSev.checkEntitlementAvailability([
															staticConfig.entitlementsList.editSession_doctor.id,
															staticConfig.entitlementsList.editSession_CenterAdmin.id]))">
														<i class="fa fa-plus"></i> Current patient number
													</button>
												</div>
											</div>
										</form>
										<div class="clearfix"></div>


										<div class="row marginTop50">
											<div class="col-md-6">
												<div class="card bg-light mb-5 text-dark">
													<div class="card-header card-header-success card-header-icon">
														<div class="card-icon"><i class="material-icons">assignment</i></div>
														<div class="card-title"><h5>Session Details</h5></div>
													</div>

													<div class="card-body">
														<div class="col-md-12">
															<div class="row">
																<table class="table-no-border" width="100%" border="0px" >
																	<tbody>
																	<tr>
																		<td style="width: 50%;">Session Date</td>
																		<td style="width: 50%;">: {{ sessionObj.appointmentDate }}</td>
																	</tr>
																	</tbody>
																</table>
																<div class="clearfix"></div>
															</div>
															<div class="row">
																<table class="table-no-border" width="100%" border="0px" >
																	<tbody>
																	<tr>
																		<td style="width: 50%;">Start Time</td>
																		<td style="width: 50%;">: {{ sessionObj.startTimeOriginal }}</td>
																	</tr>
																	</tbody>
																</table>
																<div class="clearfix"></div>
															</div>
															<div class="row">
																<table class="table-no-border" width="100%" border="0px" >
																	<tbody>
																	<tr>
																		<td style="width: 50%;">End Time</td>
																		<td style="width: 50%;">: {{ sessionObj.endTime }}</td>
																	</tr>
																	</tbody>
																</table>
																<div class="clearfix"></div>
															</div>
															<div class="row">
																<table class="table-no-border" width="100%" border="0px" >
																	<tbody>
																	<tr>
																		<td style="width: 50%;">No of Patient</td>
																		<td style="width: 50%;">: {{ sessionObj.noOfPatient }}</td>
																	</tr>
																	</tbody>
																</table>
																<div class="clearfix"></div>
															</div>
															<div class="row">
																<table class="table-no-border" width="100%" border="0px" >
																	<tbody>
																	<tr>
																		<td style="width: 50%;">No of Reserved Patient</td>
																		<td style="width: 50%;">: {{ sessionObj.noOfReservedPatient }}</td>
																	</tr>
																	</tbody>
																</table>
																<div class="clearfix"></div>
															</div>
															<div class="row">
																<table class="table-no-border" width="100%" border="0px" >
																	<tbody>
																	<tr>
																		<td style="width: 50%;">Current Patient</td>
																		<td style="width: 50%;">: {{ sessionObj.currentPatient }}</td>
																	</tr>
																	</tbody>
																</table>
																<div class="clearfix"></div>
															</div>
															<div class="row">
																<table class="table-no-border" width="100%" border="0px" >
																	<tbody>
																	<tr>
																		<td style="width: 50%;">Time interval (min)</td>
																		<td style="width: 50%;">: {{ sessionObj.timeInterval }}</td>
																	</tr>
																	</tbody>
																</table>
																<div class="clearfix"></div>
															</div>
															<div class="row">
																<table class="table-no-border" width="100%" border="0px" >
																	<tbody>
																	<tr>
																		<td style="width: 50%;">Online viewable Status</td>
																		<td style="width: 50%;">: {{ sessionObj.webStatus }}</td>
																	</tr>
																	</tbody>
																</table>
																<div class="clearfix"></div>
															</div>
															<div class="row">
																<table class="table-no-border" width="100%" border="0px" >
																	<tbody>
																	<tr>
																		<td style="width: 50%;">Show Patient Count</td>
																		<td style="width: 50%;">: {{ sessionObj.showNo? "YES": "NO" }}</td>
																	</tr>
																	</tbody>
																</table>
																<div class="clearfix"></div>
															</div>
															<div class="row">
																<table class="table-no-border" width="100%" border="0px" >
																	<tbody>
																	<tr>
																		<td style="width: 50%;">Status</td>
																		<td style="width: 50%;">: {{ sessionObj.status }}</td>
																	</tr>
																	</tbody>
																</table>
																<div class="clearfix"></div>
															</div>
															<!--<div class="row">
																<table class="table-no-border" width="100%" border="0px" >
																	<tbody>
																	<tr>
																		<td style="width: 50%;">Doctor Status</td>
																		<td style="width: 50%;">: {{ sessionObj.doctorNotification?.description }}</td>
																	</tr>
																	</tbody>
																</table>
																<div class="clearfix"></div>
															</div>-->
														</div>

													</div>
												</div>
											</div>

											<div class="col-md-6">
												<div class="card bg-light mb-3 text-dark">
													<div class="card-header card-header-success card-header-icon">
														<div class="card-icon"><i class="material-icons">attach_money</i></div>
														<div class="card-title"><h5>Charges Details</h5></div>
													</div>
													<div class="card-body">
														<table class="table-no-border" width="100%" border="0px" >
															<thead class="ard-header card-header-info">
															<tr style="border-bottom: 1px solid black;">
																<td><b>Charge Type</b></td>
																<td style="text-align: right"><b>Amount (Rs.)</b></td>
															</tr>
															</thead>
															<tbody>
															<tr *ngFor="let fee of sessionObj.sessionFees">
																<td>{{fee.description}}</td>
																<td style="text-align: right">{{fee.amount}}</td>
															</tr>
															</tbody>
														</table>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>

											<div class="clearfix"></div>
										</div>

										<div class="row">
											<div class="col-md-12">
												<div class="card bg-light mb-3 text-dark">
													<div class="card-header card-header-info card-header-icon">
														<div class="card-icon">
															<img src="./assets/images/hospital-icon-green.png" width="40px" height="40px" >
														</div>
														<div class="card-title"><h5>Center Details</h5></div>
													</div>
													<div class="card-body">
														<div class="col-md-12">
															<div class="row">
																<table class="table-no-border" width="100%" border="0px" >
																	<tbody>
																	<tr>
																		<td style="width: 25%;">Center</td>
																		<td style="width: 75%;">: {{ sessionObj.center ? sessionObj.center.centerName : '' }}</td>
																	</tr>
																	</tbody>
																</table>
																<div class="clearfix"></div>
															</div>

															<div class="row">
																<table class="table-no-border" width="100%" border="0px" >
																	<tbody>
																	<tr>
																		<td style="width: 25%;">Address</td>
																		<td style="width: 75%;">: {{ (sessionObj.center && sessionObj.center.address) ? sessionObj.center.address.address + ' ' +  sessionObj.center.address.city : '' }}</td>
																	</tr>
																	</tbody>
																</table>
																<div class="clearfix"></div>
															</div>

															<div class="row">
																<table class="table-no-border" width="100%" border="0px" >
																	<tbody>
																	<tr>
																		<td style="width: 25%;">Telephone No</td>
																		<td style="width: 75%;">: {{ sessionObj.center? sessionObj.center.contactNo : '' }}</td>
																	</tr>
																	</tbody>
																</table>
																<div class="clearfix"></div>
															</div>

															<div class="row">
																<table class="table-no-border" width="100%" border="0px" >
																	<tbody>
																	<tr>
																		<td style="width: 25%;">Open Time</td>
																		<td style="width: 75%;">: {{ sessionObj.center ? sessionObj.center.openTime : '' }}</td>
																	</tr>
																	</tbody>
																</table>
																<div class="clearfix"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-12">
												<div class="card bg-light mb-3 text-dark">
													<div class="card-header card-header-info card-header-icon">
														<div class="card-icon">
															<img src="./assets/images/doctor-active.png" width="40px" height="40px" >
														</div>
														<div class="card-title"><h5>Doctor Details</h5></div>
													</div>
													<div class="card-body">
														<div class="col-md-12">
															<div class="row">
																<table class="table-no-border" width="100%" border="0px" >
																	<tbody>
																	<tr>
																		<td style="width: 25%;">Doctor</td>
																		<td style="width: 75%;">: {{(sessionObj.doctor && sessionObj.doctor.user) ?  sessionObj.doctor.user.firstName.toUpperCase() + ' ' + sessionObj.doctor.user.lastName.toUpperCase() : '' }}</td>
																	</tr>
																	</tbody>
																</table>
																<div class="clearfix"></div>
															</div>

															<div class="row">
																<table class="table-no-border" width="100%" border="0px" >
																	<tbody>
																	<tr>
																		<td style="width: 25%;">SLMC NO</td>
																		<td style="width: 75%;">: {{ sessionObj.doctor ? sessionObj.doctor.slmcNo : '' }}</td>
																	</tr>
																	</tbody>
																</table>
																<div class="clearfix"></div>
															</div>

															<div class="row">
																<table class="table-no-border" width="100%" border="0px" >
																	<tbody>
																	<tr>
																		<td style="width: 25%;">Telephone No</td>
																		<td style="width: 75%;">: {{(sessionObj.doctor && sessionObj.doctor.user) ? sessionObj.doctor.user.contactNo : '' }}</td>
																	</tr>
																	</tbody>
																</table>
																<div class="clearfix"></div>
															</div>

															<div class="row">
																<table class="table-no-border" width="100%" border="0px" >
																	<tbody>
																	<tr>
																		<td style="width: 25%;">E-Mail</td>
																		<td style="width: 75%;">: {{(sessionObj.doctor && sessionObj.doctor.user) ? sessionObj.doctor.user.email : '' }}</td>
																	</tr>
																	</tbody>
																</table>
																<div class="clearfix"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									<!--</div>-->
								<!--</div>-->
							</mat-tab>

							<mat-tab label="Appointments" *ngIf="(authSev.checkEntitlementAvailability([
																staticConfig.entitlementsList.viewAppoinment_doctor.id,
                    											staticConfig.entitlementsList.editAppoinment_doctor.id,
                    											staticConfig.entitlementsList.viewAppointment_CenterAdmin.id,
                    											staticConfig.entitlementsList.updateAppointment_CenterAdmin.id]))">
								<app-appointment-list [selectedSessObj]="sessionObj" [selectedSessionId]="selectedSessionId" *ngIf="selectedSessionId > 0"  (appointmentViewed)="onEventTriggerAppointmentViewed($event)"></app-appointment-list>
							</mat-tab>
						</mat-tab-group>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

