<div class="main-content no-print" *ngIf="orderDetails.refNo > 0">
  <div class="container-fluid" style="height: 100%; font-size: 14px;">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="background-color: white; padding: 15px;">
        <div class="row">
          <div class="col-md-12 text-right lg-print-button" style="padding-bottom: 10px">
            <button type="button" class="btn btn-primary btn-sm pull-right no-print" (click)="onPrintReceipt();">Print</button>
          </div>
        </div>
        <!--<div class="alert alert-success" role="alert">Payment Success !</div>-->

        <div class="table-responsive">
          <table class="table table-condensed table-borderless">
            <tbody>
            <tr>
              <td colspan="4" align="center">
                <img  alt="Logo" style="height: 50px;"  src="./assets/images/logo.jpeg">
                <h5>Appointment No: {{ orderDetails.appointmentNo }}</h5>
                <h5>Reference No: {{ orderDetails.refNo }}</h5>
                <h6 style="text-transform: capitalize">Appointment Time: {{orderDetails.session?.appointmentDate}} @ {{orderDetails.appointmentTime }}</h6>
                <h6 style="text-transform: capitalize">Transaction Time: {{orderDetails.txnTime }}</h6>
              </td>
            </tr>
            <tr>
              <td style="width: 45%;">
                <table>
                  <tbody>
                  <tr>
                    <td style="width: 30%;"><b>Center Name</b></td>
                    <td>:</td>
                    <td style="width: 69%;">{{ orderDetails?.session?.center?.centerName }}</td>
                  </tr>

                  <tr>
                    <td style="width: 30%;"><b>Doctor Name</b></td>
                    <td>:</td>
                    <td style="width: 69%;">Dr. {{ orderDetails?.session?.doctor?.user?.firstName + ' ' + orderDetails?.session?.doctor?.user?.lastName }}</td>
                  </tr>

                  <tr>
                    <td style="width: 30%;"><b>Center Address</b></td>
                    <td>:</td>
                    <td style="width: 69%;">{{ orderDetails?.session?.center?.address?.address + ' ' + orderDetails?.session?.center?.address?.city }}</td>
                  </tr>
                  </tbody>
                </table>
              </td>
              <td style="width: 10%;" colspan="2"></td>
              <td style="width: 45%;">
                <table>
                  <tbody>
                  <tr>
                    <td style="width: 30%;"><b>Patient Name</b></td>
                    <td>:</td>
                    <td style="width: 69%;">{{ orderDetails.patient?.name }}</td>
                  </tr>

                  <tr>
                    <td style="width: 30%;"><b>Patient Tel</b></td>
                    <td>:</td>
                    <td style="width: 69%;">{{ orderDetails.patient?.mobileNo }}</td>
                  </tr>

                  <tr>
                    <td style="width: 30%;"><b>Patient NIC</b></td>
                    <td>:</td>
                    <td style="width: 69%;">{{ orderDetails.patient?.nic || 'N/A' }}</td>
                  </tr>

                  <tr>
                    <td style="width: 30%;"><b>Patient DOB</b></td>
                    <td>:</td>
                    <td style="width: 69%;">{{ orderDetails.patient?.dateOfBirth || 'N/A' }}</td>
                  </tr>

                  </tbody>
                </table>
              </td>
            </tr>

            <tr class="border-bottom">
              <td colspan="4">
                <table width="100%">
                  <tbody>
                  <tr>
                    <th style="padding-top: 15px; width:60%;" >Charge Type</th>
                    <th style="padding-top: 15px;width:40%;" class="text-right">Amount</th>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            <tr class="border-bottom" *ngFor="let charge of orderDetails.appointmentCharges">
              <td colspan="4">
                <table width="100%">
                  <tbody>
                  <tr>
                    <td style="width:60%;" >{{charge.description}}</td>
                    <td style="width:40%;" class="text-right">{{charge.amount | number: '1.2-2'}}</td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            <tr class="border-bottom" *ngFor="let charge of orderDetails.appointmentCharges">
              <td colspan="4">
                <table width="100%">
                  <tbody>
                  <tr>
                    <th style="padding-top: 15px; width:60%; text-align: right;" ><em>Total</em></th>
                    <th style="padding-top: 15px;width:40%;" class="text-right">{{totalCharge | number: '1.2-2'}}</th>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="row marginBottom50">
          <div class="col-md-12 marginTop50"><b>Terms and Conditions : {{orderDetails.termsAndConditions}}</b></div>
          <div class="col-md-12 marginTop50 text-center">Thank You</div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="table-responsive printable" *ngIf="orderDetails.refNo > 0">
  <table class="table table-condensed table-borderless">
    <tbody>
    <tr>
      <td colspan="4" align="center">
        <img  alt="Logo" style="height: 50px;"  src="./assets/images/logo.jpeg">
        <h5>Appointment No: {{ orderDetails.appointmentNo }}</h5>
        <h5>Reference No: {{ orderDetails.refNo }}</h5>
        <h6 style="text-transform: capitalize">Appointment Time: {{orderDetails.session?.appointmentDate}} @ {{orderDetails.appointmentTime }}</h6>
        <h6 style="text-transform: capitalize">Transaction Time: {{orderDetails.txnTime }}</h6>      </td>
    </tr>
    <tr>
      <td style="width: 45%;">
        <table>
          <tbody>
          <tr>
            <td style="width: 30%;"><b>Center Name</b></td>
            <td>:</td>
            <td style="width: 69%;">{{ orderDetails?.session?.center?.centerName }}</td>
          </tr>

          <tr>
            <td style="width: 30%;"><b>Doctor Name</b></td>
            <td>:</td>
            <td style="width: 69%;">Dr. {{ orderDetails?.session?.doctor?.user?.firstName + ' ' + orderDetails?.session?.doctor?.user?.lastName }}</td>
          </tr>

          <tr>
            <td style="width: 30%;"><b>Center Address</b></td>
            <td>:</td>
            <td style="width: 69%;">{{ orderDetails?.session?.center?.address?.address + ' ' + orderDetails?.session?.center?.address?.city }}</td>
          </tr>
          </tbody>
        </table>
      </td>
      <td style="width: 10%;" colspan="2"></td>
      <td style="width: 45%;">
        <table>
          <tbody>
          <tr>
            <td style="width: 30%;"><b>Patient Name</b></td>
            <td>:</td>
            <td style="width: 69%;">{{ orderDetails.patient?.name }}</td>
          </tr>

          <tr>
            <td style="width: 30%;"><b>Patient Tel</b></td>
            <td>:</td>
            <td style="width: 69%;">{{ orderDetails.patient?.mobileNo }}</td>
          </tr>

          <tr>
            <td style="width: 30%;"><b>Patient NIC</b></td>
            <td>:</td>
            <td style="width: 69%;">{{ orderDetails.patient?.nic || 'N/A' }}</td>
          </tr>

          <tr>
            <td style="width: 30%;"><b>Patient DOB</b></td>
            <td>:</td>
            <td style="width: 69%;">{{ orderDetails.patient?.dateOfBirth || 'N/A' }}</td>
          </tr>

          </tbody>
        </table>
      </td>
    </tr>

    <tr class="border-bottom">
      <td colspan="4">
        <table width="100%">
          <tbody>
          <tr>
            <th style="padding-top: 15px; width:60%;" >Charge Type</th>
            <th style="padding-top: 15px;width:40%;" class="text-right">Amount</th>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr class="border-bottom" *ngFor="let charge of orderDetails.appointmentCharges">
      <td colspan="4">
        <table width="100%">
          <tbody>
          <tr>
            <td style="width:60%;" >{{charge.description}}</td>
            <td style="width:40%;" class="text-right">{{charge.amount | number: '1.2-2'}}</td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr class="border-bottom">
      <td colspan="4">
        <table width="100%">
          <tbody>
          <tr>
            <th style="padding-top: 15px; width:60%; text-align: right;" ><em>Total</em></th>
            <th style="padding-top: 15px;width:40%;" class="text-right">{{totalCharge | number: '1.2-2'}}</th>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="row marginBottom50 printable">
  <div class="col-md-12 marginTop50" *ngIf="orderDetails.termsAndConditions"><b>Terms and Conditions : {{orderDetails.termsAndConditions}}</b></div>
  <div class="col-md-12 marginTop50 text-center">Thank You</div>
</div>

