<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-10 col-md-9 col-lg-8 col-centered">
            <div class="error-content clearfix">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="error-left">
                    <img class="img-responsive" src="./assets/images/404.png" alt="ERROR">
                  </div>
                </div>

                <div class="col-sm-12 col-md-6">
                  <div class="error-right">
                    <div class="section-title">
                      <h3>Oops!</h3>
                      <h2>ERROR 404.</h2>
                    </div>

                    <span>The page cannot be found.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
