<div style="" class="main-content no-padding-top">
  <div class="container-fluid">
    <div class="row center-align">
      <div class="card outer-body" style="">
        <div class="card-content inner-body">
          <h3 class="">SORRY, THE TRANSACTION IS UNSUCCESSFUL! PLEASE TRY AGAIN.</h3>
        </div>
      </div>
    </div>
  </div>
</div>

