<div class="main-content no-print" *ngIf="tokenDetails.refNo > 0">
  <div class="container-fluid" style="height: 100%; font-size: 14px;">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="background-color: white; padding: 15px;">
        <!--<div class="row">-->
          <!--<div class="col-md-12 text-right" style="padding-bottom: 10px">-->
            <!--<button type="button" class="btn btn-primary btn-sm pull-right no-print" (click)="onPrintReceipt();">Print</button>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="alert alert-success" role="alert">Payment Success !</div>-->

        <div class="table-responsive">
          <table class="table table-condensed table-borderless">
            <tbody>
            <tr>
              <td colspan="4" align="center">
                <img  alt="Logo" style="height: 50px;"  src="./assets/images/logo.jpeg">
                <h5>Appointment No: {{ tokenDetails.appointmentNo }}</h5>
                <h6 style="text-transform: capitalize">Appointment Time: {{tokenDetails.session.appointmentDate}}  {{ tokenDetails.appointmentTime }}</h6>
              </td>
            </tr>
            <tr>
              <th width="125">Center Name</th>
              <td>: {{ tokenDetails.center?.centerName }}</td>
              <th width="125">Patient Name</th>
              <td>: {{ tokenDetails.patient?.name }}</td>
            </tr>
            <tr>
              <th>Doctor Name</th>
              <td>: Dr. {{ tokenDetails.session?.doctor?.user?.firstName + ' ' + tokenDetails.session?.doctor?.user?.lastName }}</td>
              <th>Patient Tel</th>
              <td>: {{ tokenDetails.patient?.mobileNo }}</td>
            </tr>
            <tr>
              <th>Center Address</th>
              <td>: {{ tokenDetails.center?.address?.address + ' ' + tokenDetails.center?.address?.city }}</td>
              <th>Patient NIC</th>
              <td>: {{ tokenDetails.patient?.nic || 'N/A' }}</td>
            </tr>
            <tr>
              <th></th>
              <td></td>
              <th>Patient DOB</th>
              <td>: {{ tokenDetails.patient?.dateOfBirth || 'N/A' }}</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="table-responsive printable" *ngIf="tokenDetails.refNo > 0">
    <table class="table table-condensed table-borderless">
        <tbody>
        <tr>
            <td colspan="4" align="center">
                <img  alt="Logo" style="height: 50px;"  src="./assets/images/logo.jpeg">
            </td>
        </tr>
        <tr>
            <td colspan="4" align="center">
                <h6 style="text-transform: capitalize">Appointment Time: {{tokenDetails.session.appointmentDate}}  {{ tokenDetails.appointmentTime }}</h6>
            </td>
        </tr>
        <tr>
            <td colspan="4" align="center">
                <h5>Doctor Name: Dr. {{ tokenDetails.session?.doctor?.user?.firstName + ' ' + tokenDetails.session?.doctor?.user?.lastName }}</h5>
            </td>
        </tr>

        <tr>
            <td colspan="4" align="center">
                <h5>Center Address: {{ tokenDetails.center?.address?.address + ' ' + tokenDetails.center?.address?.city }}</h5>
            </td>
        </tr>

        <tr>
            <td style="width: 50%" style="padding-top: 10px; padding-left: 10px">
                <table class="table table-condensed table-borderless">
                    <tbody>
                        <tr>
                            <th width="125">Patient Name</th>
                            <td>: {{ tokenDetails.patient?.name }}</td>
                        </tr>

                        <tr>
                            <th>Patient Tel</th>
                            <td>: {{ tokenDetails.patient?.mobileNo }}</td>
                        </tr>

                        <tr>
                            <th>Patient NIC</th>
                            <td>: {{ tokenDetails.patient?.nic || 'N/A' }}</td>
                        </tr>

                        <tr>
                            <th>Patient DOB</th>
                            <td>: {{ tokenDetails.patient?.dateOfBirth || 'N/A' }}</td>
                        </tr>
                    </tbody>
                </table>
            </td>

            <td style="width: 50%; border-left: 1px solid black;">
                <table class="table table-condensed table-borderless" width="100%">
                    <tbody>
                    <tr>Your Appointment No : </tr>
                    <tr>
                        <th style="width: 100%; height:100%; line-height:30px; font-size: 100px; text-align: center;  padding-top: 100px; ">{{ tokenDetails.appointmentNo }}</th>
                    </tr>
                    </tbody>
                </table>
            </td>

        </tr>
        </tbody>
    </table>
</div>

