<div *ngIf="data.type == 'scheduleSessionError'">
  <div class="col-md-12">{{data.heading}}</div>
  <div *ngFor="let message of data.dataLists">
    <div >{{message.date}} - {{message.startTime}}</div>
  </div>
</div>
