<div class="card no-padding-left no-padding-right no-margin-left">
  <div class="card-header card-header-success card-header-icon">
    <div class="card-icon">
      <i class="material-icons">extension</i>
    </div>
    <div class="card-title">{{'Update Profile' | uppercase}}</div>
  </div>

  <div class="card-body">
    <form #updateProfileForm="ngForm" name="updateProfileForm" id="updateProfileForm" (ngSubmit)="updateProfileForm.form.valid && onSubmitUpdateProfileForm(updateProfileForm)" novalidate>
      <mat-form-field>
        <input matInput type="text" id="contactNo" minlength="10" maxlength="10" pattern="[0-9]*" name="contactNo" [(ngModel)]="doctorProfile.contactNo" (input)="onEnterContactNo($event)" #contactNo="ngModel" placeholder="Contact Number" required/>
      </mat-form-field>
      <div *ngIf="contactNo.invalid && contactNo.touched">
        <small class="text-danger" *ngIf="contactNo.errors.required">Contact number is required</small>
        <small class="text-danger" *ngIf="contactNo.errors.pattern">Invalid entry</small>
      </div>

      <mat-form-field *ngIf="role==='DOCTOR'">
        <textarea matInput rows="3" maxlength="150" id="remark" name="remark" #remark="ngModel" [(ngModel)]="doctorProfile.remark" placeholder="Remark"></textarea>
      </mat-form-field>

      <div>
        <button type="submit" class="btn btn-info btn-sm" style="margin-right: 20px;" [disabled]="submitPending == true">Save <i class="fa fa-spinner fa-spin" *ngIf="submitPending == true"></i></button>
        <button type="button" class="btn btn-warning btn-sm" (click)="onClickCancel()">Cancel</button>
      </div>

    </form>
  </div>
</div>
