<div class="main-content" style="padding: 0px;height: 100%;" *ngIf="(!gVariable.authentication.authorized) || (!gVariable.authentication?.roles) || (gVariable.authentication.roles[0].roleId == staticConfig.userTypes.PATIENT.id)">
	<div class="container-fluid" style="height: 100%;">
		<div class="card card-plain"  *ngIf="selectedCenter && selectedCenter.centerName && (searchBy =='BYCENTER')">
			<div class="card-header card-header-info">
				<h4 class="card-title">{{ selectedCenter.centerName }}</h4>

				<div *ngIf="gVariable.authentication.authorized" class="media media-item-wrap">
					<div class="media-left media-middle" style="margin-right: 10px;">
						<a >
							<div class="media-object media-object-cover">
								<div class="media-icon-cover">
									<i class="fa fa-x fa-phone " aria-hidden="true"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="media-body" *ngIf="selectedCenter">
						<span class="card-category">{{ selectedCenter.contactNo }}</span> <br>
					</div>
				</div>

				<div class="media media-item-wrap">
					<div class="media-left media-middle" style="margin-right: 10px;">
						<a >
							<div class="media-object media-object-cover">
								<div class="media-icon-cover">
									<i class="fa fa-x fa-map-marker" aria-hidden="true"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="media-body" *ngIf="selectedCenter">
						<span class="card-category">{{ selectedCenter?.address?.address }} {{ selectedCenter?.address?.city }}</span> <br>
						{{ selectedCenter?.distance }} from your location<br>
					</div>
				</div>



			</div>

		</div>

		<div class="card card-plain" *ngIf="selectedDoctor && selectedDoctor.user && (searchBy =='BYDOCTOR')">
			<div class="card-header card-header-info">
				<h4 class="card-title" >Dr. {{ selectedDoctor.user?.firstName.toUpperCase() + ' ' + selectedDoctor.user?.lastName.toUpperCase() }}</h4>

				<div class="media media-item-wrap">
					<div class="media-left media-middle" style="margin-right: 10px;">
						<a >
							<div class="media-object media-object-cover">
								<div class="media-icon-cover">
									<i class="fa fa-x fa-graduation-cap" aria-hidden="true"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="media-body">
						<span class="card-category">  {{ selectedDoctor?.qualification?.eduaction }} ({{selectedDoctor?.qualification?.university}}) </span> <br>
					</div>
				</div>

				<div class="media media-item-wrap">
					<div class="media-left media-middle" style="margin-right: 10px;">
						<a >
							<div class="media-object media-object-cover">
								<div class="media-icon-cover">
									<i class="fa fa-x fa-id-card" aria-hidden="true"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="media-body">
						<span class="card-category">SLMC No :  {{ selectedDoctor?.slmcNo }}</span> <br>
					</div>
				</div>

				<div *ngIf="gVariable.authentication.authorized" class="media media-item-wrap">
					<div class="media-left media-middle" style="margin-right: 10px;">
						<a >
							<div class="media-object media-object-cover">
								<div class="media-icon-cover">
									<i class="fa fa-x fa-phone " aria-hidden="true"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="media-body">
						<span class="card-category">{{ selectedDoctor.user?.contactNo }}</span> <br>
					</div>
				</div>

			</div>

		</div>

		<app-session-list [isParent] = "'no'" [selectedCenterObject]="selectedCenter" [selectedDoctorObject]="selectedDoctor" *ngIf="(selectedCenter && (Object.keys(selectedCenter).length > 0)) || (selectedDoctor && (Object.keys(selectedDoctor).length > 0))"></app-session-list>
	</div>
</div>
