.center{
    text-align: center;
}

.profileImage{
     display: block;
    max-width: 100%;
    height: auto;
}

.table-no-border{
    border: none !important;
}

.margin10px{
    margin-right: 10px;
}

.subHeader{
    background-color: #8a6d3b !important;
}

.fa-upload:hover{
    cursor: pointer;
}
