<div class="main-content">
    <div class="container-fluid" *ngIf="gVariable.authentication.authorized && this.gVariable.authentication.roles[0] && gVariable.authentication.roles[0].roleId == staticConfig.userTypes.DOCTOR.id && doctorProfileData.user">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">User Profile</h4>
                        <p class="card-category">Your Details</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 ">
                                <table class="table-no-border" width="100%" border="0px" >
                                    <tbody>
                                    <tr>
                                        <td style="width: 30%; color: #AAAAAA; font-size: 14px; line-height: 1.42857; font-weight: bold;">First Name</td>
                                        <td style="width: 5%"> : </td>
                                        <td style="width: 65%;"> {{ doctorProfileData.user?.firstName.charAt(0).toUpperCase() + doctorProfileData.user?.firstName.substr(1).toLowerCase() }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 ">
                                <table class="table-no-border" width="100%" border="0px" >
                                    <tbody>
                                    <tr>
                                        <td style="width: 30%; color: #AAAAAA; font-size: 14px; line-height: 1.42857; font-weight: bold;">Last Name</td>
                                        <td style="width: 5%"> : </td>
                                        <td style="width: 65%;"> {{  doctorProfileData.user?.lastName.charAt(0).toUpperCase() + doctorProfileData.user?.lastName.substr(1).toLowerCase() }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <!--<div class="row">-->
                            <!--<div class="col-md-12 ">-->
                                <!--<table class="table-no-border" width="100%" border="0px" >-->
                                    <!--<tbody>-->
                                    <!--<tr>-->
                                        <!--<td style="width: 30%; color: #AAAAAA; font-size: 14px; line-height: 1.42857; font-weight: bold;">NIC</td>-->
                                        <!--<td style="width: 5%"> : </td>-->
                                        <!--<td style="width: 65%;"> {{ doctorProfileData.user?.nic }}</td>-->
                                    <!--</tr>-->
                                    <!--</tbody>-->
                                <!--</table>-->
                                <!--<div class="clearfix"></div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="row">
                            <div class="col-md-12 ">
                                <table class="table-no-border" width="100%" border="0px" >
                                    <tbody>
                                    <tr>
                                        <td style="width: 30%; color: #AAAAAA; font-size: 14px; line-height: 1.42857; font-weight: bold;">E-Mail</td>
                                        <td style="width: 5%"> : </td>
                                        <td style="width: 65%;"> {{ doctorProfileData.user?.email }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <!--<div class="row">-->
                            <!--<div class="col-md-12 ">-->
                                <!--<table class="table-no-border" width="100%" border="0px" >-->
                                    <!--<tbody>-->
                                    <!--<tr>-->
                                        <!--<td style="width: 30%; color: #AAAAAA; font-size: 14px; line-height: 1.42857; font-weight: bold;">Remark</td>-->
                                        <!--<td style="width: 5%"> : </td>-->
                                        <!--<td style="width: 65%;"> {{ doctorProfileData.qualification?.remark }}</td>-->
                                    <!--</tr>-->
                                    <!--</tbody>-->
                                <!--</table>-->
                                <!--<div class="clearfix"></div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="row">
                            <div class="stats col-md-12 marginTop50 text-center">
                                <span class="col-md-6" *ngIf="authSev.checkEntitlementAvailability([staticConfig.entitlementsList.resetPassword.id])">
                                    <button class="btn btn-default btn-sm" (click)="onClickChangePassword()"> Reset Password </button>
                                </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </div>

                </div>

                <!--<div class="col-md-12 no-margin-left no-margin-right no-padding-right no-padding-left">-->
                    <div class="stats col-md-12 no-margin-left no-margin-right no-padding-right no-padding-left" *ngIf="(viewPasswordChange == true) && (authSev.checkEntitlementAvailability([staticConfig.entitlementsList.resetPassword.id]))">
                        <app-change-password (closePasswordView)="onChangeSuccessPasswordChange($event)" (permissionDenied)="onChangePermissionDeniedChange($event)"></app-change-password>
                    </div>

                    <div class="stats col-md-12 no-margin-left no-margin-right no-padding-right no-padding-left" *ngIf="(viewUpdateProfile == true) && (authSev.checkEntitlementAvailability([staticConfig.entitlementsList.profileUpdate_doctor.id]))">
                        <app-update-profile (closeUpdateView)="onChangeSuccessUpdateProfile($event)" (permissionDenied)="onChangePermissionDeniedChange($event)"></app-update-profile>
                    </div>
                <!--</div>-->
            </div>
            <div class="col-md-7">
                <div class="card card-profile">
                    <div class="card-avatar">
                            <img class="img" [src]="profileImage" *ngIf="profileImage  && (profileImage != null); else elseImage"/>
                            <ng-template #elseImage>
                                <img class="img" src="./assets/images/doctor.png" />
                            </ng-template>
                    </div>
                    <div class="form-group">
                        <label for="file"><i class="fa fa-upload"></i></label>
                        <input type="file" id="file" style="display: none" accept="image/*" (change)="onChangeProfilePicture($event.target.files)" >
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">Dr. {{ doctorProfileData.user?.firstName }} {{ doctorProfileData.user?.lastName }}</h6>
                        <h4 class="card-title"><b>SLMC No : {{ doctorProfileData.slmcNo }}</b></h4>
                        <div class="card-description">
                            <div class="col-md-12">
                                {{ doctorProfileData.qualification.eduaction }} ({{ doctorProfileData.qualification?.university }})
                            </div>
                            <div class="col-md-12">
                                <span class="margin-right-5"><b><i class="fa fa-id-card"></i></b> {{ doctorProfileData.user?.nic }} </span> <span><b><i class="fa fa-phone-square"></i></b> {{ doctorProfileData.user?.contactNo }}</span>
                            </div>

                            <div class="col-md-12 marginTop50 text-left">
                                <p>{{doctorProfileData.qualification?.remark}}</p>
                            </div>
                        </div>
                    </div>

                    <!--<div class="card-footer">-->
                        <div class="stats col-md-12">
                            <span class="col-md-6" *ngIf="authSev.checkEntitlementAvailability([staticConfig.entitlementsList.profileUpdate_doctor.id])">
                                <button class="btn btn-primary btn-sm margin10px" (click)="onClickUpdateProfile()"> Update Profile </button>
                            </span>
                        </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" *ngIf="gVariable.authentication.authorized && this.gVariable.authentication.roles[0] && gVariable.authentication.roles[0].roleId == staticConfig.userTypes.CENTER_ADMIN.id">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">User Profile</h4>
                        <p class="card-category">Your Details</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 ">
                                <table class="table-no-border" width="100%" border="0px" >
                                    <tbody>
                                    <tr>
                                        <td style="width: 30%; color: #AAAAAA; font-size: 14px; line-height: 1.42857; font-weight: bold;">First Name</td>
                                        <td style="width: 5%"> : </td>
                                        <td style="width: 65%;"> {{ centerProfileData?.firstName }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 ">
                                <table class="table-no-border" width="100%" border="0px" >
                                    <tbody>
                                    <tr>
                                        <td style="width: 30%; color: #AAAAAA; font-size: 14px; line-height: 1.42857; font-weight: bold;">Last Name</td>
                                        <td style="width: 5%"> : </td>
                                        <td style="width: 65%;"> {{ centerProfileData?.lastName }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 ">
                                <table class="table-no-border" width="100%" border="0px" >
                                    <tbody>
                                    <tr>
                                        <td style="width: 30%; color: #AAAAAA; font-size: 14px; line-height: 1.42857; font-weight: bold;">E-Mail</td>
                                        <td style="width: 5%"> : </td>
                                        <td style="width: 65%;"> {{ centerProfileData?.email }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <!--<div class="row">-->
                            <!--<div class="col-md-12 ">-->
                                <!--<table class="table-no-border" width="100%" border="0px" >-->
                                    <!--<tbody>-->
                                    <!--<tr>-->
                                        <!--<td style="width: 30%; color: #AAAAAA; font-size: 14px; line-height: 1.42857; font-weight: bold;">Open Time</td>-->
                                        <!--<td style="width: 5%"> : </td>-->
                                        <!--<td style="width: 65%;"> {{ centerProfileData?.openTime }}</td>-->
                                    <!--</tr>-->
                                    <!--</tbody>-->
                                <!--</table>-->
                                <!--<div class="clearfix"></div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="row">-->
                            <!--<div class="col-md-12 ">-->
                                <!--<table class="table-no-border" width="100%" border="0px" >-->
                                    <!--<tbody>-->
                                    <!--<tr>-->
                                        <!--<td style="width: 30%; color: #AAAAAA; font-size: 14px; line-height: 1.42857; font-weight: bold;">Status</td>-->
                                        <!--<td style="width: 5%"> : </td>-->
                                        <!--<td style="width: 65%;"> <label class="label text-success" *ngIf="centerProfileData.status == 'OPEN'">{{ centerProfileData.status }}</label><label class="label text-warning" *ngIf="centerProfileData.status != 'OPEN'">{{ centerProfileData.status }}</label></td>-->
                                    <!--</tr>-->
                                    <!--</tbody>-->
                                <!--</table>-->
                                <!--<div class="clearfix"></div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="clearfix"></div>

                        <div class="stats col-md-12 text-center marginTop50">
                            <span *ngIf="authSev.checkEntitlementAvailability([staticConfig.entitlementsList.resetPassword.id])">
                                <button class="btn btn-default btn-sm" (click)="onClickChangePassword()"> Reset Password </button>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>

                <!--<div class="col-md-12 no-margin-left no-margin-right no-padding-right no-padding-left">-->
                    <div class="stats col-md-12 no-margin-left no-margin-right no-padding-right no-padding-left" *ngIf="(viewPasswordChange == true) && (authSev.checkEntitlementAvailability([staticConfig.entitlementsList.resetPassword.id]))">
                        <app-change-password (closePasswordView)="onChangeSuccessPasswordChange($event)" (permissionDenied)="onChangePermissionDeniedChange($event)"></app-change-password>
                    </div>

                    <div class="stats col-md-12 no-margin-left no-margin-right no-padding-right no-padding-left" *ngIf="(viewUpdateProfile == true) && (authSev.checkEntitlementAvailability([staticConfig.entitlementsList.profileUpdate_doctor.id]))">
                        <app-update-profile (closeUpdateView)="onChangeSuccessUpdateProfile($event)" (permissionDenied)="onChangePermissionDeniedChange($event)"></app-update-profile>
                    </div>
                <!--</div>-->
            </div>
            <div class="col-md-7">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="./assets/images/hospital_icon.png" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ centerProfileData.centerName }}</h4>
                        <div class="card-description text-info">
                            <div class="col-md-12">
                                <p><b><i class="fa fa-address-card"></i></b> {{ centerProfileData.address.address }}</p>
                                <p>{{ centerProfileData.address.city }}</p>
                            </div>
                            <div class="col-md-12">
                                <p><b><i class="fa fa-phone-square"></i></b>  {{ centerProfileData.contactNo }}</p>
                                <p><span class="margin-right-5">Open Time : {{ centerProfileData?.openTime }} </span>
                                    <span><label class="label text-success" *ngIf="centerProfileData.status == 'OPEN'"> ({{ centerProfileData.status }})</label><label class="label text-warning" *ngIf="centerProfileData.status != 'OPEN'"> ({{ centerProfileData.status }})</label></span> </p>
                            </div>


                        </div>
                    </div>

                    <!--<div class="card-footer">-->
                        <div class="stats col-md-12">
                           <span *ngIf="authSev.checkEntitlementAvailability([staticConfig.entitlementsList.profileUpdate_CenterAdmin.id])">
                                <button class="btn btn-primary btn-sm margin10px" (click)="onClickUpdateProfile()"> Update Profile </button>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>






<!--<div class="mainHeadingWrap">-->
    <!--<h1>Profile</h1>-->
<!--</div>-->

<!--&lt;!&ndash;dashboard to the center user - start&ndash;&gt;-->
<!--<div class="container-fluid" *ngIf="gVariable.authentication.authorized && this.gVariable.authentication.roles[0] && gVariable.authentication.roles[0].roleId == staticConfig.userTypes.CENTER_ADMIN.id">-->
    <!--<div class="row">-->
        <!--<div class="col-md-6">-->
            <!--<div class="box box-info">-->
                <!--<div class="box-body">-->
                    <!--<div class="col-md-12">-->
                        <!--<div class="col-sm-5 center">-->
                            <!--<img alt="User Pic" src="../../../../assets/images/centerAvatar.png" id="profile-image1" class="img-circle profileImage" width="200px" height="300px;">-->
                        <!--</div>-->

                        <!--<div class="col-sm-6">-->
                            <!--<h4 style="color:#00b1b1;">{{ centerProfileData.centerName | titlecase }} </h4>-->
                            <!--<span><p><b><i class="fa fa-address-card"></i></b> {{ centerProfileData.address.address }} </p></span>-->
                            <!--<span><p><b>&nbsp;&nbsp;&nbsp;&nbsp;</b> {{ centerProfileData.address.city }}</p></span>-->
                            <!--<span><p><b><i class="fa fa-phone-square"></i></b> {{ centerProfileData.contactNo }}</p></span>-->

                            <!--<span *ngIf="authSev.checkEntitlementAvailability([staticConfig.entitlementsList.profileUpdate_CenterAdmin.id])">-->
                                <!--<button class="btn btn-primary btn-xs margin10px" (click)="onClickUpdateProfile()"> Update Profile </button>-->
                            <!--</span>-->

                            <!--<span *ngIf="authSev.checkEntitlementAvailability([staticConfig.entitlementsList.resetPassword.id])">-->
                                <!--<button class="btn btn-default btn-xs" (click)="onClickChangePassword()"> Reset Password </button>-->
                            <!--</span>-->
                        <!--</div>-->

                        <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                    <!--<hr style="margin:5px 0 5px 0;">-->

                    <!--<div class="col-md-12" style="margin-top: 20px;" >-->
                        <!--<div class="col-md-12" *ngIf="(viewPasswordChange == true) && (authSev.checkEntitlementAvailability([staticConfig.entitlementsList.resetPassword.id]))">-->
                            <!--<app-change-password (closePasswordView)="onChangeSuccessPasswordChange($event)" (permissionDenied)="onChangePermissionDeniedChange($event)"></app-change-password>-->
                        <!--</div>-->

                        <!--<div class="col-md-12" *ngIf="(viewUpdateProfile == true) && (authSev.checkEntitlementAvailability([staticConfig.entitlementsList.profileUpdate_CenterAdmin.id]))">-->
                            <!--<app-update-profile (closeUpdateView)="onChangeSuccessUpdateProfile($event)" (permissionDenied)="onChangePermissionDeniedChange($event)"></app-update-profile>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-md-6">-->
            <!--<div class="box box-info">-->
                <!--<div class="box-body">-->
                    <!--<div class="col-md-12">-->
                        <!--<div class="col-md-12">-->
                            <!--<table class="table-responsive table-no-border" width="100%" border="0px">-->
                                <!--<tbody>-->
                                <!--<tr>-->
                                    <!--<td width="40%"><b>First Name</b></td>-->
                                    <!--<td width="5%"> : </td>-->
                                    <!--<td width="65%"> {{ centerProfileData.firstName | titlecase }}</td>-->
                                <!--</tr>-->

                                <!--<tr> <td>&nbsp;</td> <td></td> <td></td> </tr>-->

                                <!--<tr>-->
                                    <!--<td width="40%"><b>Last Name</b></td>-->
                                    <!--<td width="5%"> : </td>-->
                                    <!--<td width="65%">{{ centerProfileData.lastName | titlecase }}</td>-->
                                <!--</tr>-->

                                <!--<tr> <td>&nbsp;</td> <td></td> <td></td> </tr>-->

                                <!--<tr>-->
                                    <!--<td width="40%"><b>Open Time</b></td>-->
                                    <!--<td width="5%"> : </td>-->
                                    <!--<td width="65%">{{ centerProfileData.openTime }}</td>-->
                                <!--</tr>-->

                                <!--<tr> <td>&nbsp;</td> <td></td> <td></td> </tr>-->

                                <!--<tr>-->
                                    <!--<td width="40%"><b>Status</b></td>-->
                                    <!--<td width="5%"> : </td>-->
                                    <!--<td width="65%"> <label class="label label-success" *ngIf="centerProfileData.status == 'OPEN'">{{ centerProfileData.status }}</label><label class="label label-success" *ngIf="centerProfileData.status != 'OPEN'">{{ centerProfileData.status }}</label> </td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;dashboard to the center user - end&ndash;&gt;-->


<!--&lt;!&ndash;dashboard to the doctor - start&ndash;&gt;-->
<!--<div class="container-fluid" *ngIf="gVariable.authentication.authorized && this.gVariable.authentication.roles[0] && gVariable.authentication.roles[0].roleId == staticConfig.userTypes.DOCTOR.id && doctorProfileData.user">-->
    <!--<div class="row">-->
        <!--<div class="col-md-6">-->
            <!--<div class="box box-info">-->
                <!--<div class="box-body">-->
                    <!--<div class="col-md-12">-->
                        <!--<div class="col-sm-5 center">-->
                            <!--<img alt="User Pic" src="../../../../assets/images/userAvatar.png" id="profile-image2" class="img-circle profileImage" width="200px" height="300px;">-->
                        <!--</div>-->

                        <!--<div class="col-sm-6">-->
                            <!--<h4 style="color:#00b1b1;">Dr. {{ doctorProfileData.user.firstName | titlecase }} {{ doctorProfileData.user.lastName | titlecase }}</h4>-->
                            <!--<span><p>{{ doctorProfileData.qualification.eduaction }} ({{ doctorProfileData.qualification.university }})</p></span>-->
                            <!--<span><p>SLMC No : <b>{{ doctorProfileData.slmcNo }}</b></p></span>-->
                            <!--<span><p><b><i class="fa fa-phone-square"></i></b> {{ doctorProfileData.user.contactNo }}</p></span>-->
                            <!--<span *ngIf="authSev.checkEntitlementAvailability([staticConfig.entitlementsList.profileUpdate_doctor.id])">-->
                                <!--<button class="btn btn-primary btn-xs margin10px" (click)="onClickUpdateProfile()"> Update Profile </button>-->
                            <!--</span>-->

                            <!--<span *ngIf="authSev.checkEntitlementAvailability([staticConfig.entitlementsList.resetPassword.id])">-->
                                <!--<button class="btn btn-default btn-xs" (click)="onClickChangePassword()"> Reset Password </button>-->
                            <!--</span>-->
                        <!--</div>-->

                        <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                    <!--<hr style="margin:5px 0 5px 0;">-->

                    <!--<div class="col-md-12" style="margin-top: 20px;">-->
                        <!--<div class="col-md-12" *ngIf="(viewPasswordChange == true) && (authSev.checkEntitlementAvailability([staticConfig.entitlementsList.resetPassword.id]))">-->
                            <!--<app-change-password (closePasswordView)="onChangeSuccessPasswordChange($event)" (permissionDenied)="onChangePermissionDeniedChange($event)"></app-change-password>-->
                        <!--</div>-->

                        <!--<div class="col-md-12" *ngIf="(viewUpdateProfile == true) && (authSev.checkEntitlementAvailability([staticConfig.entitlementsList.profileUpdate_doctor.id]))">-->
                            <!--<app-update-profile (closeUpdateView)="onChangeSuccessUpdateProfile($event)" (permissionDenied)="onChangePermissionDeniedChange($event)"></app-update-profile>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-md-6">-->
            <!--<div class="box box-info">-->
                <!--<div class="box-body">-->
                    <!--<div class="col-md-12">-->
                        <!--<div class="col-md-12">-->
                            <!--<table class="table-responsive table-no-border" width="100%" border="0px">-->
                                <!--<tbody>-->
                                <!--<tr>-->
                                    <!--<td width="40%"><b>First Name</b></td>-->
                                    <!--<td width="5%"> : </td>-->
                                    <!--<td width="65%"> {{ doctorProfileData.user.firstName | titlecase }}</td>-->
                                <!--</tr>-->

                                <!--<tr> <td>&nbsp;</td> <td></td> <td></td> </tr>-->

                                <!--<tr>-->
                                    <!--<td width="40%"><b>Last Name</b></td>-->
                                    <!--<td width="5%"> : </td>-->
                                    <!--<td width="65%">{{ doctorProfileData.user.lastName | titlecase }}</td>-->
                                <!--</tr>-->

                                <!--<tr> <td>&nbsp;</td> <td></td> <td></td> </tr>-->

                                <!--<tr>-->
                                    <!--<td width="40%"><b>NIC</b></td>-->
                                    <!--<td width="5%"> : </td>-->
                                    <!--<td width="65%">{{ doctorProfileData.user.nic }}</td>-->
                                <!--</tr>-->

                                <!--<tr> <td>&nbsp;</td> <td></td> <td></td> </tr>-->

                                <!--<tr>-->
                                    <!--<td width="40%"><b>E-Mail</b></td>-->
                                    <!--<td width="5%"> : </td>-->
                                    <!--<td width="65%">{{ doctorProfileData.user.email }}</td>-->
                                <!--</tr>-->

                                <!--<tr> <td>&nbsp;</td> <td></td> <td></td> </tr>-->

                                <!--<tr>-->
                                    <!--<td width="40%"><b>Remark</b></td>-->
                                    <!--<td width="5%"> : </td>-->
                                    <!--<td width="65%">{{ doctorProfileData.qualification.remark }}</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;dashboard to the doctor - end &ndash;&gt;-->
