<div class="main-content no-padding-left no-padding-right" id="mainContent-createShedule">
  <div class="container-fluid" style="height: 100%;">
    <div class="card">
      <div class="card-header card-header-info">
        <h4 class="card-title">Self-Registration</h4>
      </div>

      <div class="card-body">
        <form #selfRegistrationForm="ngForm" name="selfRegistrationForm" id="selfRegistrationForm" (ngSubmit)="selfRegistrationForm.form.valid && onClickSelfRegister();" novalidate>
          <div class="mb-2">
            <mat-label>Registering as,</mat-label>
          </div>
          <mat-radio-group (change)="updateSelection()" [value]="selfRegObj.registrationType" aria-label="Select an option">
            <mat-radio-button value="doctor">Doctor</mat-radio-button>
            <mat-radio-button value="centerAdmin">Center Administrator</mat-radio-button>
          </mat-radio-group>

          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <input matInput type="text" #name="ngModel" [(ngModel)]="selfRegObj.name" id="name" name="name" placeholder="Name" required />
              </mat-form-field>
              <small class="text-danger" [class.d-none]="name.valid || name.untouched" >Your name is required</small>
            </div>

            <div class="col-md-12">
              <mat-form-field>
                <input matInput type="text" pattern="([0-9]{9}[v|V|x|X])|([0-9]{12})" [(ngModel)]="selfRegObj.nic" #nic="ngModel" maxlength="12" id="nic" name="nic" placeholder="NIC" required/>
              </mat-form-field>
              <div *ngIf="nic.invalid && nic.touched">
                <small class="text-danger" *ngIf="nic.errors.required">NIC is required</small>
                <small class="text-danger" *ngIf="nic.errors.pattern">NIC must be valid</small>
              </div>
            </div>

            <div class="col-md-12">
              <mat-form-field>
                <input matInput type="text" pattern="[0][0-9]{9}" [(ngModel)]="selfRegObj.contactNo" #contactNumber="ngModel" id="contactNumber" required [class.is-invalid]="contactNumber.invalid && contactNumber.touched" name="contactNumber" placeholder="Contact Number" />
              </mat-form-field>
              <div *ngIf="contactNumber.invalid && contactNumber.touched">
                <small class="text-danger" *ngIf="contactNumber.errors.required">Contact number is required</small>
                <small class="text-danger" *ngIf="contactNumber.errors.pattern">Contact number must be valid and consist of 10 digits</small>
              </div>
            </div>

            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email Address" type="text" id="userName" name="userName" #userName="ngModel" [(ngModel)]="selfRegObj.userName" required email pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" spellcheck="false"  />
              </mat-form-field>
              <div *ngIf="userName.invalid && userName.touched">
                <small class="text-danger" *ngIf="userName.errors.required">Email address is required</small>
                <small class="text-danger" *ngIf="userName.errors.pattern">Email must be valid</small>
              </div>
            </div>

            <div class="col-md-12" *ngIf="selfRegObj.registrationType == 'doctor'">
              <mat-form-field>
                <input matInput type="number" [min]="0" id="slmcNo" name="slmcNo" placeholder="SLMC Number"  #slmcNo="ngModel" [(ngModel)]="selfRegObj.slmcNo" [required]="selfRegObj.registrationType === 'doctor'" />
              </mat-form-field>
              <small class="text-danger" [class.d-none]="slmcNo.valid || slmcNo.untouched" >SLMC number is required</small>
            </div>

            <div class="col-md-12" *ngIf="selfRegObj.registrationType == 'doctor'">
              <mat-form-field>
                <input matInput type="text" #qualification="ngModel" [(ngModel)]="selfRegObj.qualification" id="qualification" name="qualification" placeholder="Highest Educational Qualification" [required]="selfRegObj.registrationType === 'doctor'" />
              </mat-form-field>
              <small class="text-danger" [class.d-none]="qualification.valid || qualification.untouched" >Highest educational qualification is required</small>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <input matInput type="text" #centerName="ngModel" [(ngModel)]="selfRegObj.centerName" id="centerName" name="centerName" placeholder="Center Name" required />
              </mat-form-field>
              <small class="text-danger" [class.d-none]="centerName.valid || centerName.untouched" >Center Name is required</small>
            </div>

            <div style="outline: 2px dotted blue; width: 100%; margin-bottom: 10px">
              <mat-label style="font-weight: bold; margin-left: 5px">Center location details</mat-label>
              <div class="col-md-12">
              <mat-form-field>
                <input matInput type="text" #address="ngModel" [(ngModel)]="selfRegObj.address" id="address" name="address" placeholder="Center Address" required />
              </mat-form-field>
              <small class="text-danger" [class.d-none]="address.valid || address.untouched" >Center address is required</small>
            </div>

            <div class="col-md-12">
              <mat-form-field>
                <input matInput type="number" [min]="0" id="latitude" name="latitude" placeholder="Latitude (Optional)"  #latitude="ngModel" [(ngModel)]="selfRegObj.latitude" />
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <mat-form-field>
                <input matInput type="number" [min]="0" id="longitude" name="longitude" placeholder="Longitude (Optional)"  #longitude="ngModel" [(ngModel)]="selfRegObj.longitude" />
              </mat-form-field>
            </div>
            </div>

            <div class="col-md-12">
              <mat-form-field>
                <mat-label>Center Start Time</mat-label>
                <input matInput [ngxTimepicker]="defaultStartTime" placeholder="" [format]="12" name="startTime" id="startTime" #startTime="ngModel" [(ngModel)]="selfRegObj.startTime" readonly required />
                <ngx-material-timepicker #defaultStartTime></ngx-material-timepicker>
              </mat-form-field>
              <small class="text-danger" [class.d-none]="startTime.valid || startTime.untouched" >Center start Time is required</small>
            </div>
          </div>

          <!--<div class="col-md-3">
            <mat-checkbox #acceptTandC name="acceptTandC" id="acceptTandC">Agree to terms and conditions</mat-checkbox>
          </div>-->

          <div class="row">
            <div class="col-md-12">
              <div class="buttonWrapper-right pull-left">
                <button type="submit" class="btn btn-info btn-sm" [disabled]="selfRegistrationForm.invalid">Submit <i class="fa fa-spinner fa-spin" *ngIf="requestPending == true"></i></button>
                <button type="button" class="btn btn-warning btn-sm" (click)="onClickBack()">Back</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>






