<!--<div id="mapRangePicker">
  <p-slider [(ngModel)]="radiusRange" [min]="2" [step]="2"  [animate]="true" [style]="{'height':'14em'}" orientation="vertical" (onChange)="mapRadiusOnChange()"></p-slider><span>{{radiusRange}}</span>
</div>-->

<mat-tab-group class="no-margin-left no-margin-right no-padding-left no-margin-right" id="parentSearchOption" [backgroundColor]="'primary'">
	<mat-tab label="Search By Location">
		<div class="row" *ngIf="gVariable.platformBrowser">
			<div class="col-md-12" id="mapDiv">
				<mat-radio-group style="padding-left: 40px; margin-top: 5px" (change)="updateSelection()" [value]="doctorType" aria-label="Select an option">
					<mat-radio-button style="margin-right: 3px" value="GP">General Physicians</mat-radio-button>
					<mat-radio-button value="VET">Veterinarians</mat-radio-button>
				</mat-radio-group>
				<agm-map [latitude]="latitude" [longitude]="longitude" (mapReady)="onMapReady($event)" [styles]="mapStyle" [restriction]="countryRestriction" >
					<!--<agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" [iconUrl]="'../../../assets/images/icons/male.svg'" (dragEnd)="draggedMarker($event);" style="height: 2px;"></agm-marker>-->
					<agm-info-window><strong>InfoWindow content</strong></agm-info-window>
					<div >
						<input class="form-control" id="searchBox" placeholder="Enter your location" type="text" [value]="selectedLocation" onClick="this.setSelectionRange(0, this.value.length)"/>
					</div>
					<div *ngIf="doctorType==='GP'">
					<agm-marker
							*ngFor="let center of gpCentersList; let i = index"
							(markerClick)="onClickedMarker(center)"
							[latitude]="center.address.latitude"
							[longitude]="center.address.longitude"
							[markerDraggable]="false"
							[label]="{text: center.centerName.toUpperCase(), color: '#000c07', fontWeight: 'bold', textShadow: 'white'}"
							[iconUrl]='{"url": "./assets/images/icons/hospital3.png","scaledSize": {"height": 25, "width": 25}, labelOrigin: { x: 12, y: -10}}'

					>

						<agm-snazzy-info-window [maxWidth]="400" [latitude]="center.address.latitude" [longitude]="center.address.longitude" [closeWhenOthersOpen]="true" class="agm-info-window">
							<ng-template>
								<h4><b>{{center.centerName | uppercase}}</b> <br></h4>
								<p>Open Time :  <b>{{ center.openTime }}</b> <!--<span style="color: #107b24; margin-left: 20px;" *ngIf="center.status == 'OPEN'"> Open Now</span>--><span style="color: #e00303; margin-left: 20px;" *ngIf="center.status != 'OPEN'">Closed</span></p>
								<br>
								<!--<p><i class="fa fa-phone"></i>&nbsp; : <b> {{center.contactNo}}</b></p>-->

								<span><i class="fa fa-address-card-o"></i> : <address> {{center.address.address}}, {{center.address.city}}</address></span>

								<p>Distance :  <b>{{ center.distance }}</b></p>
								<p>Duration :  <b>{{ center.duration }}</b> by drive</p>

								<button type="button" class="btn btn-primary btn-sm pull-right" (click)="onClickCenterDetails(center)">View <i class="fa fa-hand-o-right"></i></button>

							</ng-template>
						</agm-snazzy-info-window>
					</agm-marker>
					</div>
					<div *ngIf="doctorType==='VET'">
					<agm-marker
							*ngFor="let center of vetCentersList; let i = index"
							(markerClick)="onClickedMarker(center)"
							[latitude]="center.address.latitude"
							[longitude]="center.address.longitude"
							[markerDraggable]="false"
							[label]="{text: center.centerName.toUpperCase(), color: '#000c07', fontWeight: 'bold', textShadow: 'white'}"
							[iconUrl]='{"url": "./assets/images/icons/hospital3.png","scaledSize": {"height": 25, "width": 25}, labelOrigin: { x: 12, y: -10}}'

					>
						<agm-snazzy-info-window [maxWidth]="400" [latitude]="center.address.latitude" [longitude]="center.address.longitude" [closeWhenOthersOpen]="true" class="agm-info-window">
							<ng-template>
								<h4><b>{{center.centerName | uppercase}}</b> <br></h4>
								<p>Open Time :  <b>{{ center.openTime }}</b> <!--<span style="color: #107b24; margin-left: 20px;" *ngIf="center.status == 'OPEN'"> Open Now</span>--><span style="color: #e00303; margin-left: 20px;" *ngIf="center.status != 'OPEN'">Closed</span></p>
								<br>
								<!--<p><i class="fa fa-phone"></i>&nbsp; : <b> {{center.contactNo}}</b></p>-->

								<span><i class="fa fa-address-card-o"></i> : <address> {{center.address.address}}, {{center.address.city}}</address></span>

								<p>Distance :  <b>{{ center.distance }}</b></p>
								<p>Duration :  <b>{{ center.duration }}</b> by drive</p>

								<button type="button" class="btn btn-primary btn-sm pull-right" (click)="onClickCenterDetails(center)">View <i class="fa fa-hand-o-right"></i></button>

							</ng-template>
						</agm-snazzy-info-window>
					</agm-marker>
					</div>
				</agm-map>
			</div>
		</div>
	</mat-tab>
	<mat-tab label="Search By Doctor">
		<div class="row">
			<form #searchForm="ngForm" novalidate style="width: 100%;">
				<div class="col-md-12 mapDoctorSearch">
					<table class="table-no-border" width="100%" border="0px" >
						<tbody>
						<tr>
							<td style="width: 95%;">
								<mat-form-field>
									<input matInput [formControl]="searchControl" [matAutocomplete]="autoCompleteInput" onclick="this.setSelectionRange(0, this.value.length)" name="doctorsList" id="doctorsList" placeholder="Search Doctor..." required/>
									<mat-autocomplete #autoCompleteInput="matAutocomplete" (optionSelected)="onSelectDoctorSearch($event.option.value)">
										<mat-option  *ngFor="let doctor of (filteredDoctorsList | async)" [value]="doctor" (click)="onClickSearchSelectedDoctor(selectedDoctor)">Dr. {{ doctor.user.firstName + ' ' + doctor.user.lastName }} </mat-option>
									</mat-autocomplete>
								</mat-form-field>
							</td>
							<td style="width: 5%;">
								<button class="btn btn-sm btn-info" (click)="onClickSearchSelectedDoctor(selectedDoctor)"><i class="fa fa-search"></i></button>
							</td>
						</tr>
						</tbody>
					</table>
					<div class="clearfix"></div>
				</div>
			</form>
		</div>
	</mat-tab>
</mat-tab-group>


