agm-map{
    height: 550px;
}

agm-marker{
    width: 10px !important;
    height: 10px !important;
}

#mapDiv{
    /*margin-top: 10px !important;*/
}

.pac-container.pac-logo::after{
    display: none !important;
}

.pac-logo:after{
    display: none !important;
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}

.pac-container:after{display:none !important;}

.pac-container {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}

.pac-container{display:none !important;}

.agm-info-window{
    /*background-image: url("../../../assets/images/sidebar-4.jpg.jpg") !important;*/
}

/*style the box which holds the text of the information window*/
.gm-style .gm-style-iw .agm-info-window {
    background-color: #252525 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-height: 120px !important;
    padding-top: 10px;
    display: block !important;
}

/*style the paragraph tag*/
.gm-style .gm-style-iw #google-popup p{
    padding: 10px;
}

.parentStyle{
    background-color: #252525 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-height: 120px !important;
    padding-top: 10px;
    display: block !important;
}
