@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
    .printable {
        display: block !important;
    }
}

.printable {
    display: none;
}




/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
    position: fixed;
    top: 20px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}
.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}
.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}

.navbar-notCollapsing.navbar-nav>.user_logo>a{
    color: black !important;
    font-size: small;
    font-weight: unset;
}

.formErrorMessage{
    color: #e91224;
}


body .ui-toast .ui-toast-message.ui-toast-message-success {
    background: rgb(25,148,0);
    background: linear-gradient(180deg, rgba(25,148,0,1) 0%, rgba(255,255,255,1) 100%);
    border: 1px solid #6ca161;
    color: #333!important; }

body .ui-toast .ui-toast-message.ui-toast-message-warn {
    background: rgb(255,211,178);
    background: linear-gradient(180deg, rgba(255,211,178,1) 0%, rgba(253,255,255,1) 100%);
    border: 1px solid #ffa35c;
    color: #333!important; }
body .ui-toast .ui-toast-message.ui-toast-message-error {
    background: rgb(255,117,117);
    background: linear-gradient(180deg, rgba(255,117,117,1) 0%, rgba(255,255,255,1) 100%);
    border: 1px solid #ff7575;
    color: #333!important; }

.popupText{
    cursor: pointer;
}

p-dialog, p-dialog div{
    width: 90% !important;
}

p-dialog div div{
    width: 100% !important;
}

.no-padding-left{
    padding-left: 0px !important;
}

.ui-datepicker-touch-ui, .ui-calendar .ui-datepicker-touch-ui{
    z-index: 2000 !important;
}


.si-has-border .si-content-wrapper{
    /*background-size: cover;*/
    opacity: 1;
    /*background-repeat: no-repeat;*/
    background-color: #B3E5FC;

}

.si-content{
    width: 300px;
    height: 300px;
    overflow: unset;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
    padding-top: 20px;
}

.si-shadow-wrapper{
    opacity: 1 !important;
}

.si-wrapper-top{
    margin-top: -20px !important;
}

.si-float-wrapper{
    /*left: 0px !important;*/
}

.board{
    width: 100% !important;
    margin-top: 0px !important;
}

.board .nav-tabs-step{
    margin: 0px !important;
    width: 100% !important;
}

.liner{
    width: 100% !important;
    height: 5px !important;
    background: #1167bfbd !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
    color: #fff;
    background-color: #0082b9;
}

.si-pointer-bg-top{
    border-top-color: #B3E5FC;
}

.fullScreenMap{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#mapDiv{
    height: calc(100vh - 50px);
    padding: 0;
}
#parentSearchOption{
    height: calc(100vh - 50px);
    margin-top: 50px;
    padding: 0;
}

#mapDiv agm-map{
    height: 100%;
}

#mapDiv agm-map .form-control#searchBox{
    /*top: 25px !important;*/
    /*left: 50% !important;*/
    /*-webkit-transform: translateX(-50%);*/
    /*-moz-transform: translateX(-50%);*/
    /*transform: translateX(-50%);*/
    /*width: 90vw;*/
    /*background-color: rgba(255, 255, 255, 0) !important;*/
    /*background-color: white !important;*/
    padding-left: 40px !important;
    /*background-color: #5b61fc !important;;*/
    /*color: white;*/
    /*padding: 10px;*/
}

.floatLeft{
    float: left;
}

.no-margin-left{
    margin-left: 0px;
}

.no-margin-right{
    margin-rigt: 0px;
}

.no-margin-top{
    margin-top: 0px !important;
}

.no-padding-top{
    padding-top: 0px !important;
}

.no-padding-left{
    padding-left: 0 !important;
}

.no-padding-right{
    padding-right: 0 !important;
}

.padding-left-5{
    padding-left: 5px !important;
}

.padding-right-5{
    padding-right: 5px !important;
}

.margin-left-5{
    margin-left: 5px !important;
}

.margin-right-5{
    margin-right: 5px !important;
}

#sessionCurrentNumbr{
    font-size: 15px;
}

#sessionCategory >h6{
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: black;
    text-transform: capitalize;
}

.content-center{
    text-align: center;
}

#sessionHeader{
    height:100px;
}

.main-content{
    min-height: 500px !important;
}

.labelHeader{
    width: 200px !important;
}

#navbar-nav{
    background-color: rgba(23, 150, 209, 0.3);
    border-radius: 5px;
}

#searchBox{
    padding: 10px !important;
    background-color: rgba(255, 255, 255, 0.84);
    box-shadow: none !important;
    border: medium none !important;
    border-radius: 2px !important;
    box-shadow: 0 0 0 !important;
    color: rgb(64, 64, 64) !important;
    display: block !important;
    font-size: px !important;
    font-weight: 300 !important;
    height: 30px !important;
    line-height: 1.42857 !important;
    padding: 6px 20px !important;
    vertical-align: middle !important;
    transition: background-color .2s !important;
}

#toggleButton{
    padding: 6px 16px !important;
    transform: none;
}

#mainContent-createShedule{
    margin-top: 20px;
}

#exceptionPanel{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#exceptionPanelHeader{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#scheduleSessionChargesFooter{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#sessionViewCardHeader{
    z-index: 1 !important;
}

.marginTop50{
    margin-top: 50px !important;
}

.marginBottom50{
    margin-bottom: 50px !important;
}

.mat-horizontal-stepper-header{
    pointer-events: none !important;
}

.mat-step-icon{
    width:50px !important;
    height: 50px !important;
}

#logoSideBarDiv{
    height: 35px !important;
}

#logoSideBarImage{
    width: 100px !important;
    height: 30px !important;
}

#navBarDiv{
    padding-top: 0px !important;
    margin-top: 0px !important;
}

#navBarContainerFluid{
    padding-top: 0px !important;
    margin-top: 0px !important;
    background-color: white !important;
}

#navBarImageDiv{
    /*margin-left: 25% !important;*/
}

#navBarImageDiv .navbar-brand{
    margin: 0;
    padding: 0;
}

#navBarImage{
    width: auto;
    height: 100%;
    /*margin-left: 5% !important;*/
}

#navigation{
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.toastMessage{
    margin-top: 50px !important;
}

.childModal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 1031;
}

body .ui-dialog{
    z-index: 1032;
}

td{
    vertical-align: text-top !important;
}

.mat-checkbox-layout {
    white-space: normal !important;
}

.mat-tab-body-content {
    overflow: hidden !important;
}

.mapDoctorSearch{
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-top: 20px !important;
}

.mat-calendar{
    z-index: 1050 !important;
}

.mat-tab-group.mat-background-primary .mat-tab-header, .mat-tab-group.mat-background-primary .mat-tab-links, .mat-tab-nav-bar.mat-background-primary .mat-tab-header, .mat-tab-nav-bar.mat-background-primary .mat-tab-links{
    background-color: #2196f3 !important;
}

#sessionFooter{
    min-height: 100px;
}

.cdk-overlay-container{
    z-index: 1059 !important;
}

@media screen and ( max-width: 768px) {
    .lg-print-button {
        display: none;
    }
}

mat-label {
    font-size: 15px !important;
}

.mat-form-field-label-wrapper label, .mat-form-field-label-wrapper label mat-label{
    font-weight: bold!important;
}
