<div class="main-content no-padding-left no-padding-right" id="mainContent-createShedule">
  <div class="container-fluid" style="height: 100%;">
    <div class="card">
      <div class="card-header card-header-info">
        <h4 class="card-title">Schedule New Session</h4>
      </div>

      <div class="card-body">
        <form #sessionForm="ngForm" name="sessionForm" id="sessionForm" (ngSubmit)="sessionForm.form.valid && onClickAddSessionSchedule();" novalidate>
          <div class="row">
            <div class="col-md-3">
              <mat-form-field>
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="datePickerStartDate" [min]="dateOption.startDate.minDate" disabled  name="startDate" id="startDate" #startDate="ngModel" [(ngModel)]="sessionObj.startDate" (dateChange)="onChangeStartDate()" required/>
                <mat-datepicker-toggle matSuffix [for]="datePickerStartDate"></mat-datepicker-toggle>
                <mat-datepicker #datePickerStartDate disabled="false" color="info"></mat-datepicker>
                <!--<div class="formErrorMessage" *ngIf="sessionForm.submitted && startDate.errors && startDate.errors.required">This field is required.</div>-->
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <mat-form-field>
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="datePickerEndDate" [min]="sessionObj.startDate" disabled  name="endDate" id="endDate" #endDate="ngModel" [(ngModel)]="sessionObj.endDate" required />
                <mat-datepicker-toggle matSuffix [for]="datePickerEndDate"></mat-datepicker-toggle>
                <mat-datepicker #datePickerEndDate disabled="false" color="info"></mat-datepicker>
                <!--<div class="formErrorMessage" *ngIf="sessionForm.submitted && endDate.errors && endDate.errors.required">This field is required.</div>-->
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <mat-form-field>
                <mat-label>Start Time</mat-label>
                <input matInput [ngxTimepicker]="defaultStartTime" placeholder="Start Time" [format]="12" name="startTime" id="startTime" #startTime="ngModel" [(ngModel)]="sessionObj.startTime" readonly required />
                <ngx-material-timepicker #defaultStartTime></ngx-material-timepicker>
                <!--<div class="formErrorMessage" *ngIf="sessionForm.submitted && startTime.errors && startTime.errors.required">This field is required.</div>-->
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <mat-form-field>
                <input matInput pattern="[1-9]\d*" [min]="1" id="viewDuration" name="viewDuration" placeholder="Pre view Duration(Day/s)" #viewDuration="ngModel" [(ngModel)]="sessionObj.viewDuration" [class.is-invalid]="viewDuration.invalid && viewDuration.touched" required />
                <!--<div class="formErrorMessage" *ngIf="sessionForm.submitted && viewDuration.errors && viewDuration.errors.required">This field is required.</div>-->
              </mat-form-field>
              <div *ngIf="viewDuration.invalid && viewDuration.touched">
                <small class="text-danger" *ngIf="viewDuration.errors.required">Preview duration is required</small>
                <small class="text-danger" *ngIf="viewDuration.errors.pattern">Invalid entry</small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <mat-form-field>
                <input matInput pattern="[1-9]\d*" [min]="1" id="appStartNo" name="appStartNo" placeholder="Appointment Starting No"  #appStartNo="ngModel" [(ngModel)]="sessionObj.appStartNo" [class.is-invalid]="appStartNo.invalid && appStartNo.touched" required #test />
                <!--<div class="formErrorMessage" *ngIf="sessionForm.submitted && noOfPatients.errors && noOfPatients.errors.required">This field is required.</div>-->
              </mat-form-field>
              <div *ngIf="appStartNo.invalid && appStartNo.touched">
                <small class="text-danger" *ngIf="appStartNo.errors.required">Appointment starting number is required</small>
                <small class="text-danger" *ngIf="appStartNo.errors.pattern">Invalid entry</small>
              </div>
            </div>

            <div class="col-md-3">
              <mat-form-field>
                <input matInput pattern="\d*" [min]="0" id="noOfPatients" name="noOfPatients" placeholder="No. Of Patients"  #noOfPatients="ngModel" [(ngModel)]="sessionObj.noOfPatients" [class.is-invalid]="noOfPatients.invalid && noOfPatients.touched" required />
                <!--<div class="formErrorMessage" *ngIf="sessionForm.submitted && noOfPatients.errors && noOfPatients.errors.required">This field is required.</div>-->
              </mat-form-field>
              <div *ngIf="noOfPatients.invalid && noOfPatients.touched">
                <small class="text-danger" *ngIf="noOfPatients.errors.required">Number of patients is required</small>
                <small class="text-danger" *ngIf="noOfPatients.errors.pattern">Invalid entry</small>
              </div>
            </div>

            <div class="col-md-3">
              <mat-form-field>
                <input matInput pattern="\d*" [min]="0" id="timeInterval" name="timeInterval" placeholder="Time Interval(Min/s)" #timeInterval="ngModel" [(ngModel)]="sessionObj.timeInterval" [class.is-invalid]="timeInterval.invalid && timeInterval.touched" required />
                <!--<div class="formErrorMessage" *ngIf="sessionForm.submitted && timeInterval.errors && timeInterval.errors.required">This field is required.</div>-->
              </mat-form-field>
              <div *ngIf="timeInterval.invalid && timeInterval.touched">
                <small class="text-danger" *ngIf="timeInterval.errors.required">Time interval is required</small>
                <small class="text-danger" *ngIf="timeInterval.errors.pattern">Invalid entry</small>
              </div>
            </div>

            <div class="col-md-3">
              <mat-checkbox #showPatientCount name="showPatientCount" id="showPatientCount" [(ngModel)]="sessionObj.showNo">Show Patient Count</mat-checkbox>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card" id="exceptionPanel">
                <div class="card-header card-header-warning card-header-icon" id="exceptionPanelHeader">
                  <div class="card-icon">
                    <i class="material-icons">extension</i>
                  </div>

                  <!--<div class="card-title">Add Exceptions </div>-->
                </div>
                <div *ngIf="false" class="card-body no-padding-right no-padding-left no-margin-left no-margin-right">
                    <div class="col-md-12 no-padding-right no-padding-left no-margin-left no-margin-right">
                      <mat-accordion class="example-headers-align">
                        <mat-expansion-panel >
                          <mat-expansion-panel-header>
                            <mat-panel-title>Exceptions</mat-panel-title>
                            <mat-panel-description></mat-panel-description>
                          </mat-expansion-panel-header>

                          <div class="row">
                            <div class="col-md-6">
                              <div class="col-md-12">
                                <mat-form-field>
                                  <mat-select matNativeControl placeholder="Day" #selectedDay="ngModel" id="selectedDay" name="selectedDay" [(ngModel)]="exceptionalSessionsList.selectedDay">
                                    <mat-option *ngFor="let day of daysOfWeek" [value]="day.code"> {{day.description}} </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>

                              <div class="col-md-6 floatLeft">
                                <mat-form-field>
                                  <mat-label>Start Time</mat-label>
                                  <input matInput [ngxTimepicker]="exceptionStartTime" [format]="12" placeholder="Start Time" id="exceptionStartTime" name="exceptionStartTime" #exceptionStartTime="ngModel" [(ngModel)]="exceptionalSessionsList.exceptionStartTime" readonly />
                                  <ngx-material-timepicker #exceptionStartTime></ngx-material-timepicker>
                                </mat-form-field>
                              </div>

                              <div class="col-md-6 floatLeft">
                                <mat-form-field>
                                  <input matInput pattern="\d*" [min]="0" placeholder="No Of Patients" id="exceptionNoOfPatient" name="exceptionNoOfPatient" #exceptionNoOfPatient="ngModel" [(ngModel)]="exceptionalSessionsList.exceptionNoOfPatient" />
                                </mat-form-field>
                                <div *ngIf="exceptionNoOfPatient.invalid && exceptionNoOfPatient.touched">
                                  <small class="text-danger" *ngIf="exceptionNoOfPatient.errors.pattern">Invalid entry</small>
                                </div>
                              </div>

                              <div class="clearfix"></div>

                              <div class="col-md-12 floatLeft">
                                <button type="button" class="btn btn-success" (click)="onClickAddException(exceptionalSessionsList)">Add Exception</button>
                              </div>
                            </div>

                            <div class="col-md-6 no-padding-right no-padding-left no-margin-left no-margin-right">
                              <mat-accordion>
                                <mat-expansion-panel *ngFor="let exception of sessionObj.exceptionList;">
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                      {{ exception.day }}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                  </mat-expansion-panel-header>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table-no-border" width="100%" border="0px" >
                                                <tbody>
                                                <tr>
                                                    <td style="width: 40%;"><p><b>Start Date  </b> : {{ exception.startDate }}</p></td>
                                                    <td style="width: 10%">  </td>
                                                    <td style="width: 50%;"> <p><b>No Of Patient  </b> : {{ exception.noOfPatient }}</p></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </mat-expansion-panel>
                              </mat-accordion>
                            </div>
                          </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                </div>

                <div class="card-footer" id="scheduleSessionChargesFooter">
                  <div class="col-md-12 no-padding-right no-padding-left no-margin-left no-margin-right">
                    <mat-accordion>
                      <mat-expansion-panel >
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Charges
                          </mat-panel-title>
                          <mat-panel-description>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="col-md-6 floatLeft no-padding-right no-padding-left no-margin-left no-margin-right">

                          <div class="card">
                            <div class="card-body" *ngIf="feesList.length > 0">
                              <div class="col-md-4 floatLeft">
                                <mat-form-field>
                                  <mat-select matNativeControl placeholder="Charge type" #chargeType="ngModel" id="chargeType" name="chargeType" [(ngModel)]="selectedCharge.chargeType" (click)="onSelectChargeType()">
                                    <mat-option *ngFor="let fee of feesList" [value]="fee.chargeCode"> {{ fee.description }} </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>

                              <div class="col-md-4 floatLeft">
                                  <mat-form-field>
                                    <input matInput pattern="[1-9]\d*" placeholder="Amount" [min]="0" #chargeAmount="ngModel" id="chargeAmount" name="chargeAmount" [(ngModel)]="selectedCharge.chargeAmount" [class.is-invalid]="chargeAmount.invalid && chargeAmount.touched"/>
                                  </mat-form-field>
                                <div *ngIf="chargeAmount.invalid && chargeAmount.touched">
                                  <small class="text-danger" *ngIf="chargeAmount.errors.pattern">Invalid entry</small>
                                </div>
                              </div>

                              <div class="col-md-4 floatLeft">
                                  <mat-checkbox name="onlineViewable" id="onlineViewable" #onlineViewable [(ngModel)]="selectedCharge.onlineViewable">Online Viewable (OV)</mat-checkbox>
                              </div>
                              <div class="clearfix"></div>

                              <div class="col-md-12 floatLeft">
                                <button [disabled]="chargeAmount.invalid || chargeAmount.pristine || selectedCharge.chargeType == 0" class="btn btn-default btn-sm" type="button" (click)="onClickAddAmount()"><i class="fa fa-plus"></i> Add</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 floatLeft no-padding-right no-margin-right">
                          <div class="card card-plain">
                            <div class="card-body">
                              <table class="table-no-border" width="100%" border="0px" >
                                <thead class="card-header card-header-info">
                                <tr style="border-bottom: 1px solid black;">
                                  <td><b>Charge Type</b></td>
                                  <td style="text-align: right"><b>Amount (Rs.)</b></td>
                                  <td style="text-align: center"><b>OV</b></td>
                                  <td style="text-align: center">Action</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let fee of sessionObj.sessionFees">
                                  <td>{{fee.description}}</td>
                                  <td style="text-align: right">{{fee.amount}}</td>
                                  <td style="text-align: center">{{fee.onlineViewable ? 'Yes' : 'No'}}</td>
                                  <td style="text-align: center"><i class="fa fa-trash" (click)="onClickRemoveCharge(fee.feeCode)"></i></td>
                                </tr>
                                </tbody>
                              </table>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="buttonWrapper-right pull-left">
                <button type="submit" class="btn btn-info btn-sm" [disabled]="sessionForm.invalid || requestPending == true">Submit <i class="fa fa-spinner fa-spin" *ngIf="requestPending == true"></i></button>
                <button type="button" class="btn btn-warning btn-sm" (click)="onCLickCancel()">Back to Home</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>






