<div class="mainHeadingWrap">
  <h1>Member Registration</h1>
</div>

<div class="col-md-5 col-md-pull-6 col-md-offset-1 col-sm-8 col-sm-offset-2 separatorMargin">
  <h3>Register</h3>
  <form>
    <div class="form-group">
      <label for="registerUsername">Username</label>
      <input type="text" class="form-control" id="registerUsername" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="registerFirstName">First Name</label>
      <input type="text" class="form-control" id="registerFirstName" placeholder="First Name">
    </div>
    <div class="form-group">
      <label for="registerLastName">Last Name</label>
      <input type="text" class="form-control" id="registerLastName" placeholder="Last Name">
    </div>
    <div class="form-group">
      <label for="registerEmail">Email Address</label>
      <input type="email" class="form-control" id="registerEmail" placeholder="Email Address">
    </div>
    <div class="form-group">
      <label for="registerNIC">NIC</label>
      <input type="text" class="form-control" id="registerNIC" placeholder="NIC Number">
    </div>
    <div class="form-group">
      <label for="registerPassword">Password</label>
      <input type="password" class="form-control" id="registerPassword" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="registerConfirmPassword">Confirm Password</label>
      <input type="password" class="form-control" id="registerConfirmPassword" placeholder="Confirm Password">
    </div>
  </form>
  <div>
    <button type="submit" class="btn btn-info">Register</button>
  </div>
</div>
