<div class="card no-padding-left no-padding-right no-margin-left">
  <div class="card-header card-header-success card-header-icon">
    <div class="card-icon">
      <i class="material-icons">extension</i>
    </div>
    <div class="card-title">{{'Reset Password' | uppercase}}</div>
  </div>

  <div class="card-body">
    <form #changePasswordForm="ngForm" name="changePasswordForm" id="changePasswordForm" (ngSubmit)="changePasswordForm.form.valid && (changePasswordObj.newPassword==changePasswordObj.confirmNewPassword) && onClickSubmitChangePasswordForm(changePasswordForm)" novalidate>
      <mat-form-field>
        <input matInput type="password" id="currentPassword" name="currentPassword" #currentPassword="ngModel" [(ngModel)]="changePasswordObj.currentPassword" placeholder="Current Password" required/>
        <!--<div class="formErrorMessage" *ngIf="changePasswordForm.submitted && currentPassword.errors && currentPassword.errors.required">This field is required</div>-->
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" id="newPassword" name="newPassword" #newPassword="ngModel" [(ngModel)]="changePasswordObj.newPassword" placeholder="New Password" required/>
        <!--<div class="formErrorMessage" *ngIf="changePasswordForm.submitted && newPassword.errors && newPassword.errors.required">This field is required</div>-->
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" id="confirmNewPassword" name="confirmNewPassword" #confirmNewPassword="ngModel" [(ngModel)]="changePasswordObj.confirmNewPassword" placeholder="Confirm New Password" required/>
        <!--<div class="formErrorMessage" *ngIf="changePasswordForm.submitted && confirmNewPassword.errors && confirmNewPassword.errors.required">This field is required</div>-->
        <div class="formErrorMessage" *ngIf="changePasswordForm.submitted && !newPassword.errors && !confirmNewPassword.errors && (changePasswordObj.newPassword!=changePasswordObj.confirmNewPassword)">New and Confirm Passwords must be same</div>
      </mat-form-field>

      <button type="submit" class="btn btn-info btn-sm" style="margin-right: 20px;" [disabled]="submitPending == true">Save <i class="fa fa-spinner fa-spin" *ngIf="submitPending == true"></i></button>
      <button type="button" class="btn btn-warning btn-sm" (click)="onClickCancel()">Cancel</button>
    </form>
  </div>
</div>