<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card no-padding-left no-padding-right no-margin-left">
                    <div class="card-header card-header-info">
                        <div class="card-title">{{'Reset Password' | uppercase}}</div>
                    </div>

                    <div class="card-body">
                        <form #resetPasswordForm="ngForm" name="resetPasswordForm" id="resetPasswordForm" (ngSubmit)="resetPasswordForm.form.valid && (resetPasswordObj.newPassword==resetPasswordObj.confirmNewPassword) && onClickSubmitResetPasswordForm(resetPasswordForm)" novalidate>
                            <mat-form-field>
                                <input matInput type="password" id="newPassword" name="newPassword" #newPassword="ngModel" [(ngModel)]="resetPasswordObj.newPassword" placeholder="New Password" required/>
                                <div class="formErrorMessage" *ngIf="resetPasswordForm.submitted && newPassword.errors && newPassword.errors.required">This field is required</div>
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput type="password" id="confirmNewPassword" name="confirmNewPassword" #confirmNewPassword="ngModel" [(ngModel)]="resetPasswordObj.confirmNewPassword" placeholder="Confirm New Password" required/>
                                <div class="formErrorMessage" *ngIf="resetPasswordForm.submitted && confirmNewPassword.errors && confirmNewPassword.errors.required">This field is required</div>
                                <div class="formErrorMessage" *ngIf="resetPasswordForm.submitted && !newPassword.errors && !confirmNewPassword.errors && (resetPasswordObj.newPassword!=resetPasswordObj.confirmNewPassword)">Passwords do not match</div>
                            </mat-form-field>

                            <button type="submit" class="btn btn-info btn-sm" style="margin-right: 20px;" [disabled]="submitPending == true">Save <i class="fa fa-spinner fa-spin" *ngIf="submitPending == true"></i></button>
                            <button type="button" class="btn btn-warning btn-sm" (click)="onClickCancel()">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
